Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
    
    changes:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  integration-ubuntu-latest-py3.10:
    carryforward: true
  integration-ubuntu-latest-py3.11:
    carryforward: true
  integration-ubuntu-latest-py3.12:
    carryforward: true
  integration-macos-latest-py3.10:
    carryforward: true
  integration-macos-latest-py3.11:
    carryforward: true
  integration-macos-latest-py3.12:
    carryforward: true
  micromamba-ubuntu-latest-py3.11:
    carryforward: true
  micromamba-macos-latest-py3.11:
    carryforward: true

ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "*.md"
  - ".github/**/*"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: lib
      name: Library Code
      paths:
        - lib/**/*.sh
    - component_id: core
      name: Core Script
      paths:
        - pyve.sh

M.p: [Testenv-DX] 'pyve testenv list' / 'pyve testenv prune'
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/testenv.sh
  tests/unit/test_testenv_list_prune.bats
Due: Library Code

M.q: [Testenv-DX] 'pyve lock --env <name>' / '--all' extension
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/lock.sh
  tests/unit/test_lock_per_env.bats
Due: Library Code

M.r: [Testenv-DX] Matrix execution — 'pyve test --env a,b,c' (serial)
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  tests/unit/test_test_env_matrix.bats
Due: Library Code

M.s: [Testenv-DX] Docs sweep — named testenvs across user-facing docs
  README.md
  docs/site/backends.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
Due: none

M.t: v2.8.0 — Testenv-DX bundle release
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

Phase M cleanup
  .project-guide.yml
  docs/specs/.archive/phase-m-pyve-micromamba-testenv-trap.md
  docs/specs/.archive/phase-m-pyve-named-testenvs.md
  docs/specs/.archive/phase-m-spike-f-testenvs-config.md
  docs/specs/.archive/phase-m-testenv-dx-plan.md
  docs/specs/.archive/stories-v2.8.0.md
  docs/specs/brand-descriptions.md
  docs/specs/env-dependencies-prompt.md
  docs/specs/env-dependencies-repo_gitbetter.md
  docs/specs/env-dependencies-template.md
  docs/specs/phase-n-framework-plugin-architecture.md
  docs/specs/phase-n-pyve-framework-plugin-architecture.md
  docs/specs/project-guide/README.md
  docs/specs/project-guide/concept.md
  docs/specs/project-guide/features.md
  docs/specs/project-guide/sync.sh
  docs/specs/project-guide/tech-spec.md
  docs/specs/stories.md
Due: none

Phase N planning
  .project-guide.yml
  docs/specs/phase-n-plugin-architecture-named-envs-plan.md
  docs/specs/project-guide-requests/subphase-strategy-for-large-phases.md
  docs/specs/stories.md
Due: none

N.b: 'lib/envs.sh' + 'lib/commands/env.sh' rename ('testenvs' → 'envs')
  docs/specs/stories.md
  lib/commands/check.sh
  lib/commands/env.sh
  lib/commands/init.sh
  lib/commands/lock.sh
  lib/commands/purge.sh
  lib/commands/status.sh
  lib/commands/test.sh
  lib/commands/update.sh
  lib/envs.sh
  lib/pyve_testenvs_helper.py
  lib/utils.sh
  pyve.sh
  tests/unit/test_lock_per_env.bats
  tests/unit/test_test_command.bats
  tests/unit/test_test_env_advisory.bats
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_matrix.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenv_conda.bats
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_testenv_install_lock.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_list_prune.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_purge_name.bats
  tests/unit/test_testenv_run_name.bats
  tests/unit/test_testenv_venv_manifest.bats
  tests/unit/test_testenvs.bats
  tests/unit/test_testenvs_activate.bats
  tests/unit/test_testenvs_migration.bats
  tests/unit/test_testenvs_state.bats
Due: Library Code, Core Script

N.c: 'pyve env' CLI dispatcher + 'pyve testenv' legacy sugar
  docs/specs/stories.md
  lib/commands/env.sh
  pyve.sh
  tests/unit/test_deprecation_warnings.bats
  tests/unit/test_env_dispatcher.bats
  tests/unit/test_testenv_grammar.bats
  tests/unit/test_unknown_flag.bats
Due: Library Code, Core Script

N.d: 'purpose:' attribute + selector semantics
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  lib/manifest.sh
  pyve.sh
  tests/helpers/test_helper.bash
  tests/unit/test_env_purpose_gate.bats
  tests/unit/test_manifest.bats
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_matrix.bats
  tests/unit/test_test_env_resolver.bats
Due: Library Code, Core Script

N.d.1: pre-flight 'assert_python_resolvable' — convert asdf-shim trap into an actionable pyve error
  docs/specs/stories.md
  lib/commands/init.sh
  lib/env_detect.sh
  lib/utils.sh
  tests/unit/test_env_detect.bats
  tests/unit/test_preflight_wire_in.bats
Due: Library Code

N.e: 'pyve init' writes 'pyve.toml' on fresh projects
  docs/specs/stories.md
  lib/commands/init.sh
  tests/unit/test_init_pyve_toml.bats
Due: Library Code

N.f: State directory final path — '.pyve/envs/<name>/<backend>/' decision
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/env.sh
  lib/commands/purge.sh
  lib/commands/test.sh
  lib/commands/update.sh
  lib/envs.sh
  lib/utils.sh
  tests/unit/test_env_purpose_gate.bats
  tests/unit/test_n_f_state_layout.bats
  tests/unit/test_preflight_wire_in.bats
  tests/unit/test_status.bats
  tests/unit/test_test_command.bats
  tests/unit/test_test_env_advisory.bats
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_matrix.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenv_conda.bats
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_testenv_install_lock.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_list_prune.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_purge_name.bats
  tests/unit/test_testenv_run_name.bats
  tests/unit/test_testenv_venv_manifest.bats
  tests/unit/test_testenvs.bats
  tests/unit/test_testenvs_activate.bats
  tests/unit/test_testenvs_migration.bats
  tests/unit/test_testenvs_state.bats
  tests/unit/test_utils.bats
Due: Library Code

N.g: 'pyve self migrate' — v2 → v3 migration command
  docs/specs/stories.md
  lib/commands/self.sh
  tests/unit/test_n_f_state_layout.bats
  tests/unit/test_self_migrate.bats
Due: Library Code

N.h: Soft migration banner on 'pyve <cmd>' in v2-configured projects
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_n_h_v2_banner.bats
Due: Core Script

N.i: Read-compat layer — v3.0 reads legacy sources
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/manifest.sh
  tests/unit/test_n_i_read_compat.bats
Due: Library Code

N.j: Append project-essentials entries for N-1
  docs/specs/project-essentials.md
  docs/specs/stories.md
Due: none

Subphase N-2 planning
  docs/specs/phase-n-2-spike-env-model-worked-examples.md
  docs/specs/stories.md
Due: none

N.j.1: 'pyve run' backend detection — config-first, glob-fallback
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  lib/commands/run.sh
  tests/unit/test_n_j_1_run_backend_detection.bats
Due: Library Code

N.j.2: CI hardening — stale layout assertions + PATH leak
  docs/specs/stories.md
  tests/integration/test_micromamba_workflow.py
  tests/unit/test_env_detect.bats
Due: none

N.j.3: CI hardening — stale '.pyve/testenvs/' path assertions sweep
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  tests/integration/test_subcommand_cli.py
  tests/integration/test_testenv.py
Due: none

N.k: Plugin contract + registry skeleton with root-loader
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/manifest.sh
  lib/plugins/contract.sh
  lib/plugins/registry.sh
  lib/pyve_toml_helper.py
  pyve.sh
  tests/unit/test_n_k_plugin_registry.bats
  tests/unit/test_n_k_plugin_schema.bats
Due: Library Code, Core Script

N.l: Backend-provider registry + abstraction (three-category)
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/init.sh
  lib/plugins/backend_registry.sh
  pyve.sh
  tests/unit/test_n_l_backend_dispatch_envrc.bats
  tests/unit/test_n_l_backend_registry.bats
Due: Library Code, Core Script

N.m: PC-1 — plugin input safety validator
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/envrc_safety.sh
  pyve.sh
  tests/unit/test_n_m_envrc_safety.bats
Due: Library Code, Core Script

N.n: Python plugin module + scaffold-time detection hook
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/backend_detect.sh
  lib/commands/init.sh
  lib/manifest.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/helpers/test_helper.bash
  tests/unit/test_n_n_python_plugin.bats
Due: Library Code, Core Script

N.o: Python plugin — init / purge / update hooks
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_n_k_plugin_registry.bats
  tests/unit/test_n_o_python_plugin_lifecycle.bats
Due: Library Code, Core Script

N.p: Python plugin — check / status / run / test hooks
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/python.sh
  lib/manifest.sh
  lib/plugins/python/plugin.sh
  lib/pyve_toml_helper.py
  pyve.sh
  tests/unit/test_n_p_python_plugin_runtime.bats
Due: Library Code, Core Script

N.q: Python plugin — activation hook ('.envrc' emission)
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/init.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_n_q_python_plugin_activate.bats
Due: Library Code

N.r: Python plugin — '.gitignore' + smart-purge hooks
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/purge.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  tests/helpers/test_helper.bash
  tests/unit/test_n_r_python_plugin_gitignore_purge.bats
Due: Library Code

N.s.1: Relocate 'init_project' into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/init.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_asdf_compat.bats
  tests/unit/test_init_next_steps.bats
  tests/unit/test_init_pyve_toml.bats
  tests/unit/test_init_wizard.bats
  tests/unit/test_n_l_backend_dispatch_envrc.bats
  tests/unit/test_n_o_python_plugin_lifecycle.bats
  tests/unit/test_n_q_python_plugin_activate.bats
  tests/unit/test_n_s_1_init_relocation.bats
  tests/unit/test_preflight_wire_in.bats
Due: Library Code, Core Script

N.s.2: Relocate 'purge_project' into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/purge.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_n_o_python_plugin_lifecycle.bats
  tests/unit/test_n_s_2_purge_relocation.bats
  tests/unit/test_testenvs_activate.bats
Due: Library Code, Core Script

N.s.3: Relocate 'update_project' into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/update.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_n_o_python_plugin_lifecycle.bats
  tests/unit/test_n_s_3_update_relocation.bats
  tests/unit/test_testenvs_activate.bats
Due: Library Code, Core Script

N.s.4: Relocate 'check_environment' into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/check.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_n_p_python_plugin_runtime.bats
  tests/unit/test_n_s_4_check_relocation.bats
  tests/unit/test_testenvs_activate.bats
Due: Library Code, Core Script

N.s.5: Relocate 'show_status' into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/status.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_n_p_python_plugin_runtime.bats
  tests/unit/test_n_s_5_status_relocation.bats
  tests/unit/test_testenvs_activate.bats
Due: Library Code, Core Script

N.s.6: Relocate 'run_command' into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/run.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_asdf_compat.bats
  tests/unit/test_env_purpose_gate.bats
  tests/unit/test_n_j_1_run_backend_detection.bats
  tests/unit/test_n_p_python_plugin_runtime.bats
  tests/unit/test_n_s_6_run_relocation.bats
  tests/unit/test_test_command.bats
  tests/unit/test_test_env_advisory.bats
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_matrix.bats
  tests/unit/test_test_env_resolver.bats
Due: Library Code, Core Script

N.s.7: Relocate 'test_tests' into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/helpers/test_helper.bash
  tests/unit/test_env_purpose_gate.bats
  tests/unit/test_n_p_python_plugin_runtime.bats
  tests/unit/test_n_s_7_test_relocation.bats
  tests/unit/test_test_command.bats
  tests/unit/test_test_env_advisory.bats
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_matrix.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenvs_activate.bats
Due: Library Code, Core Script

N.s.8: Relocate 'python_command' namespace dispatcher into the Python plugin
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/python.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_n_p_python_plugin_runtime.bats
  tests/unit/test_n_s_8_python_dispatcher_relocation.bats
Due: Library Code, Core Script

N.s.9: End-to-end regression sweep + relocation-test consolidation
  docs/specs/stories.md
  tests/unit/test_n_s_1_init_relocation.bats
  tests/unit/test_n_s_2_purge_relocation.bats
  tests/unit/test_n_s_3_update_relocation.bats
  tests/unit/test_n_s_4_check_relocation.bats
  tests/unit/test_n_s_5_status_relocation.bats
  tests/unit/test_n_s_6_run_relocation.bats
  tests/unit/test_n_s_7_test_relocation.bats
  tests/unit/test_n_s_8_python_dispatcher_relocation.bats
  tests/unit/test_python_plugin_command_layout.bats
Due: none
