Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

Close Coverage Gaps in 'utils.sh' and 'distutils_shim.sh'
  docs/specs/stories.md
  lib/distutils_shim.sh
  tests/unit/test_distutils_shim_coverage.bats
  tests/unit/test_utils.bats
Due: Library Code

v2.2.1 Coverage Hardening Release Wrap
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_cli_dispatch.bats
Due: Core Script

v2.2.1 Test coverage improvement (#29)
  .github/workflows/test.yml
  CHANGELOG.md
  docs/specs/stories.md
  lib/distutils_shim.sh
  pyve.sh
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_distutils_shim_coverage.bats
  tests/unit/test_env_detect.bats
  tests/unit/test_utils.bats
Due: Library Code, Core Script

Add 'is_asdf_active' helper with env-var gate
  docs/specs/stories.md
  lib/env_detect.sh
  tests/unit/test_asdf_compat.bats
Due: Library Code

'.envrc' asdf compatibility guard
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_asdf_compat.bats
Due: Core Script

'pyve run' asdf compatibility guard
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_asdf_compat.bats
Due: Core Script

Rip out Category A deprecation paths
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/ui.sh
  pyve.sh
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_subcommand_cli.py
  tests/integration/test_testenv.py
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_deprecation_warnings.bats
  tests/unit/test_python_command.bats
  tests/unit/test_subcommand_help.bats
  tests/unit/test_testenv_grammar.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

bash 3.2 compat invariant test + full-repo audit
  docs/specs/stories.md
  tests/unit/test_bash32_compat.bats
Due: none

v2.3.0 Release Wrap
  CHANGELOG.md
  docs/specs/features.md
  docs/specs/pyve-asdf-reshim-bug-brief.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  pyve.sh
  tests/unit/test_cli_dispatch.bats
Due: Core Script

v2.3.0 - Environment Compatibility & Hardening (#30)
  CHANGELOG.md
  docs/specs/features.md
  docs/specs/pyve-asdf-reshim-bug-brief.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/env_detect.sh
  lib/ui.sh
  pyve.sh
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_subcommand_cli.py
  tests/integration/test_testenv.py
  tests/unit/test_asdf_compat.bats
  tests/unit/test_bash32_compat.bats
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_deprecation_warnings.bats
  tests/unit/test_python_command.bats
  tests/unit/test_subcommand_help.bats
  tests/unit/test_testenv_grammar.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

v2.3.1 Bugfix micromamba init --force without environment.yml
  .gitignore
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/go.md
  docs/specs/.archive/phase-g-pyve-improvements-v1.8.1.md
  docs/specs/.archive/phase-h-check-status-design.md
  docs/specs/.archive/phase-h-cli-refactor-design.md
  docs/specs/.archive/phase-j-environment-compatibility-plan.md
  docs/specs/.archive/phase-j-pyve-asdf-reshim-bug-brief.md
  docs/specs/.archive/stories-v1.14.0.md
  docs/specs/.archive/stories-v2.3.0.md
  docs/specs/.archive/tech-spec-v2.3.0.md
  docs/specs/phase-k-break-the-pyve-monolith-plan.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_force_backend_detection.py
Due: Core Script

fix hard-coded version number
  tests/unit/test_cli_dispatch.bats
Due: none

v2.3.1 Bugfix micromamba init --force without environment.yml (#31)
  .gitignore
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/go.md
  docs/specs/.archive/phase-g-pyve-improvements-v1.8.1.md
  docs/specs/.archive/phase-h-check-status-design.md
  docs/specs/.archive/phase-h-cli-refactor-design.md
  docs/specs/.archive/phase-j-environment-compatibility-plan.md
  docs/specs/.archive/phase-j-pyve-asdf-reshim-bug-brief.md
  docs/specs/.archive/stories-v1.14.0.md
  docs/specs/.archive/stories-v2.3.0.md
  docs/specs/.archive/tech-spec-v2.3.0.md
  docs/specs/phase-k-break-the-pyve-monolith-plan.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_force_backend_detection.py
  tests/unit/test_cli_dispatch.bats
Due: Core Script

v2.3.2 Bugfix — Uniform '.envrc' template across backends
  .project-guide.yml
  CHANGELOG.md
  README.md
  docs/project-guide/go.md
  docs/site/backends.md
  docs/site/usage.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_envrc_template.py
  tests/unit/test_envrc_template.bats
Due: Library Code, Core Script

v2.3.2 test skips needed on CI without direnv
  tests/integration/test_envrc_template.py
Due: none

v2.3.2 Bugfix — Uniform '.envrc' template across backends (#32)
  .project-guide.yml
  CHANGELOG.md
  README.md
  docs/project-guide/go.md
  docs/site/backends.md
  docs/site/usage.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_envrc_template.py
  tests/unit/test_envrc_template.bats
Due: Library Code, Core Script

Command coverage audit
  docs/specs/phase-K-command-coverage-audit.md
Due: none

Extract 'run'
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/run.sh
  pyve.sh
  tests/unit/test_asdf_compat.bats
  tests/unit/test_bash32_compat.bats
Due: Library Code, Core Script

Extract 'lock'
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/lock.sh
  pyve.sh
Due: Library Code, Core Script

K.d: Extract 'python' namespace
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/python.sh
  pyve.sh
  tests/unit/test_python_command.bats
Due: Library Code, Core Script

bugfix: override 'python' rename from 'python_command' + Extract 'self' namespace
  docs/specs/phase-K-command-coverage-audit.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/python.sh
  lib/commands/self.sh
  pyve.sh
  tests/unit/test_cli_dispatch.bats
Due: Library Code, Core Script

Extract 'test' and refine command names
  docs/specs/phase-K-command-coverage-audit.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/lock.sh
  lib/commands/self.sh
  lib/commands/test.sh
  pyve.sh
Due: Library Code, Core Script

Extract 'testenv' namespace
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/testenv.sh
  lib/utils.sh
  pyve.sh
Due: Library Code, Core Script

Extract 'status'
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/status.sh
  pyve.sh
Due: Library Code, Core Script

Extract 'check'
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/check.sh
  pyve.sh
Due: Library Code, Core Script

Extract 'update'
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/update.sh
  pyve.sh
Due: Library Code, Core Script

Extract 'purge'
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/purge.sh
  pyve.sh
Due: Library Code, Core Script

Extract 'init'
  docs/specs/phase-K-command-coverage-audit.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/check.sh
  lib/commands/init.sh
  lib/commands/purge.sh
  lib/commands/python.sh
  lib/commands/self.sh
  lib/commands/status.sh
  lib/commands/update.sh
  pyve.sh
  tests/unit/test_asdf_compat.bats
Due: Library Code, Core Script

v2.4.0 Break the Monolith Release
  CHANGELOG.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  pyve.sh
Due: Core Script

Phase K: Break the Pyve Monolith (v2.4.0) (#33)
  CHANGELOG.md
  docs/specs/phase-K-command-coverage-audit.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/check.sh
  lib/commands/init.sh
  lib/commands/lock.sh
  lib/commands/purge.sh
  lib/commands/python.sh
  lib/commands/run.sh
  lib/commands/self.sh
  lib/commands/status.sh
  lib/commands/test.sh
  lib/commands/testenv.sh
  lib/commands/update.sh
  lib/utils.sh
  pyve.sh
  tests/unit/test_asdf_compat.bats
  tests/unit/test_bash32_compat.bats
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_python_command.bats
Due: Library Code, Core Script

Phase L planning
  .claude/scheduled_tasks.lock
  .project-guide.yml
  docs/project-guide/go.md
  docs/specs/.archive/phase-h-ux-retrofit-before-after.md
  docs/specs/.archive/phase-k-break-the-pyve-monolith-plan.md
  docs/specs/.archive/phase-k-command-coverage-audit.md
  docs/specs/.archive/stories-v2.4.0.md
  docs/specs/phase-l-pyve-polish-plan.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
Due: none

'pyve status' — micromamba Python pin from 'environment.yml' + project-guide update
  .gitignore
  .project-guide.yml
  .pyve/config
  docs/project-guide/developer/python-editable-install.md
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/brand-descriptions.md
  docs/project-guide/templates/artifacts/concept.md
  docs/project-guide/templates/artifacts/features.md
  docs/project-guide/templates/artifacts/project-essentials.md
  docs/project-guide/templates/artifacts/pyve-essentials.md
  docs/project-guide/templates/artifacts/stories.md
  docs/project-guide/templates/artifacts/tech-spec.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/code-direct-mode.md
  docs/project-guide/templates/modes/code-test-first-mode.md
  docs/project-guide/templates/modes/debug-mode.md
  docs/project-guide/templates/modes/plan-concept-mode.md
  docs/project-guide/templates/modes/plan-features-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-stories-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/refactor-document-mode.md
  docs/project-guide/templates/modes/refactor-plan-mode.md
  docs/project-guide/templates/modes/scaffold-project-mode.md
  docs/specs/brand-descriptions.md
  docs/specs/concept.md
  docs/specs/features.md
  docs/specs/phase-l-pyve-polish-audit.md
  docs/specs/phase-l-pyve-polish-plan.md
  docs/specs/project-guide-requests/quiet-non-interactive-embedding.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/status.sh
  tests/unit/test_status.bats
Due: Library Code

Align 'pyve check' — help, docs, shipped diagnostics
  docs/specs/features.md
  docs/specs/stories.md
  lib/commands/check.sh
  tests/unit/test_check.bats
Due: Library Code

('+' upstream): Consumer '--quiet' for embedded 'project-guide'
  docs/specs/stories.md
  lib/utils.sh
  tests/unit/test_project_guide.bats
Due: Library Code

'lib/ui/' directory establishment + 'lib/ui.sh' migration
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/ui/core.sh
  lib/utils.sh
  pyve.sh
  tests/unit/test_asdf_compat.bats
  tests/unit/test_envrc_template.bats
  tests/unit/test_init_ui.bats
  tests/unit/test_purge_ui.bats
  tests/unit/test_testenv_ui.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

Verbosity policy — '--verbose' / 'PYVE_VERBOSE=1'
  docs/specs/features.md
  docs/specs/stories.md
  lib/ui/core.sh
  pyve.sh
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

'lib/ui/run.sh' — quiet-replay-on-failure subprocess wrapper
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/ui/run.sh
  pyve.sh
  tests/unit/test_ui_run.bats
Due: Library Code, Core Script

'lib/ui/progress.sh' — step counter, spinner, progress bar
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/ui/progress.sh
  pyve.sh
  tests/unit/test_ui_progress.bats
Due: Library Code, Core Script

L.i: 'lib/ui/select.sh' — arrow-key single/multi-select prompt
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/ui/select.sh
  pyve.sh
  tests/unit/test_ui_select.bats
Due: Library Code, Core Script

L.j: Step-framing rollout — 'pyve init' (both backends) + 'pyve update'
  docs/specs/features.md
  docs/specs/stories.md
  lib/commands/update.sh
  lib/utils.sh
  tests/helpers/test_helper.bash
  tests/unit/test_update.bats
  tests/unit/test_utils.bats
Due: Library Code

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
