Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

N.at.3: Install / update / uninstall lifecycle + version-tracking rebuild
  docs/site/index.html
  docs/specs/brand-descriptions.md
  docs/specs/stories.md
  lib/commands/self.sh
  lib/toolchain_python.sh
  tests/unit/test_n_at_3_toolchain_lifecycle.bats
Due: Library Code

N.at.4: Docs + project-essentials + tech-spec for the toolchain interpreter
  .project-guide.yml
  docs/specs/features.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

N.au: F1 — Lift project-guide orchestration to a stack-agnostic 'lib/project_guide.sh'
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/project_guide.sh
  pyve.sh
  tests/helpers/test_helper.bash
  tests/unit/test_init_wizard.bats
  tests/unit/test_n_au_project_guide_locus.bats
Due: Library Code, Core Script

N.av.1: Composed-init orchestrator skeleton + seam wiring
  docs/specs/stories.md
  lib/init_composer.sh
  pyve.sh
  tests/unit/test_n_av_1_init_composer.bats
Due: Library Code, Core Script

N.av.2: Extract the Python env-materializer; lift the orchestration tail
  docs/specs/stories.md
  lib/init_composer.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_n_av_2_init_tail.bats
Due: Library Code

N.av.3: Node-only composed-init path
  docs/specs/stories.md
  lib/init_composer.sh
  tests/unit/test_n_av_3_node_only_init.bats
Due: Library Code

N.av.4: Polyglot composed-init path
  docs/specs/stories.md
  lib/init_composer.sh
  tests/unit/test_n_av_4_polyglot_init.bats
Due: Library Code

N.av.5: Integration matrix + N-4 composition regression sweep
  docs/specs/stories.md
  tests/unit/test_n_av_5_composed_matrix.bats
Due: none

project-guide install contract planning
  docs/specs/project-guide-requests/pyve-toolchain-hosting.md
  docs/specs/stories.md
Due: none

N.ay: F5 — '.project-guide.yml' contract guard + 'env_spec_path' discovery
  docs/specs/stories.md
  lib/project_guide.sh
  tests/unit/test_n_ay_marker_contract.bats
Due: Library Code

N.aw.1: Toolchain hosting mechanism — install + global shim
  docs/specs/stories.md
  lib/commands/self.sh
  tests/unit/test_n_aw_toolchain_hosting.bats
Due: Library Code

N.aw.2: Retire per-project provisioning + N.aj gate reconciliation
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/init_composer.sh
  lib/plugins/python/plugin.sh
  lib/project_guide.sh
  lib/utils.sh
  tests/unit/test_n_aj_python_active_gate.bats
  tests/unit/test_n_au_project_guide_locus.bats
  tests/unit/test_n_av_3_node_only_init.bats
  tests/unit/test_n_aw_2_orchestration.bats
  tests/unit/test_project_guide.bats
Due: Library Code

N.az.1: Toolchain PyYAML provisioning + 'pyve_env_spec_helper.py'
  docs/specs/stories.md
  lib/commands/env.sh
  lib/commands/self.sh
  lib/pyve_env_spec_helper.py
  lib/toolchain_python.sh
  tests/unit/test_n_az_1_env_spec_helper.bats
  tests/unit/test_n_az_1_provisioning.bats
Due: Library Code

N.az.2: 'pyve env sync' command + 'pyve check' diff surface
  docs/specs/stories.md
  lib/check_composer.sh
  lib/commands/env.sh
  lib/commands/self.sh
  lib/pyve_env_sync_helper.py
  tests/unit/test_n_az_1_provisioning.bats
  tests/unit/test_n_az_2_check_drift.bats
  tests/unit/test_n_az_2_env_sync.bats
  tests/unit/test_n_az_2_env_sync_helper.bats
Due: Library Code

N.ba.2: F6 trichotomy enforcement — unknown axis value → hard error + abort
  docs/specs/stories.md
  lib/commands/env.sh
  lib/commands/package.sh
  lib/pyve_env_sync_helper.py
  lib/pyve_toml_helper.py
  tests/unit/test_manifest.bats
  tests/unit/test_n_ar_package.bats
  tests/unit/test_n_ba_2_enforcement.bats
  tests/unit/test_n_o_python_plugin_lifecycle.bats
Due: Library Code

N.ba.2b: integration-suite reconciliation — Node scaffold-path + project-guide toolchain tests
  .claude/scheduled_tasks.lock
  .gitignore
  docs/specs/stories.md
  lib/plugins/node/plugin.sh
  tests/integration/test_project_guide_integration.py
Due: Library Code

N.ba.2c: Make the composed-init matrix e2e test hermetic (stop asserting against ambient toolchain)
  docs/specs/stories.md
  tests/unit/test_n_av_5_composed_matrix.bats
Due: none

N.ba.3: Advisory recognition + surfacing + skip-materialization
  docs/specs/stories.md
  lib/check_composer.sh
  lib/commands/env.sh
  lib/envs.sh
  lib/manifest.sh
  lib/pyve_toml_helper.py
  lib/status_composer.sh
  tests/unit/test_n_ba_3_advisory.bats
Due: Library Code

N.bb: Audit + classification — story-named tests, story-refs in code, load-bearing exceptions
  docs/specs/phase-n-7-audit.md
  docs/specs/stories.md
Due: none

N.bb.1: Route the micromamba-default init-wizard test to the micromamba CI job
  docs/specs/stories.md
  tests/integration/test_init_wizard.py
Due: none

N.bd: Sweep narrative story-refs from production code per the audit
  docs/specs/phase-n-7-audit.md
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/check_composer.sh
  lib/commands/env.sh
  lib/commands/package.sh
  lib/commands/self.sh
  lib/env_detect.sh
  lib/envrc_composer.sh
  lib/envrc_safety.sh
  lib/envs.sh
  lib/gitignore_composer.sh
  lib/init_composer.sh
  lib/manifest.sh
  lib/plugins/backend_registry.sh
  lib/plugins/contract.sh
  lib/plugins/node/plugin.sh
  lib/plugins/node/runtime_detect.sh
  lib/plugins/packaging_registry.sh
  lib/plugins/python/plugin.sh
  lib/plugins/registry.sh
  lib/project_guide.sh
  lib/purge_composer.sh
  lib/pyve_env_spec_helper.py
  lib/pyve_env_sync_helper.py
  lib/pyve_toml_helper.py
  lib/status_composer.sh
  lib/toolchain_python.sh
  lib/utils.sh
  pyve.sh
Due: Library Code, Core Script

N.bd.2: Project-essentials guard + audit (enumerate every phase/story-ref 'dirty' line)
  audit_phasestory_refs.py
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lines_with_phasestory_nums_dirty.txt
Due: none

N.bd.3: Clean prototyping — safe-pattern taxonomy + first-pass clean.txt
  clean_phasestory_refs.py
  docs/specs/phase-n-7-audit.md
  docs/specs/stories.md
  lines_with_phasestory_nums_clean.txt
Due: none

N.be: Survey + clean other temporary scaffolding
  docs/specs/phase-n-7-audit.md
  docs/specs/stories.md
  docs/specs/testing-spec.md
  lib/micromamba_env.sh
  tests/README.md
  tests/fixtures/sample_configs/basic_micromamba.yml
  tests/fixtures/sample_configs/basic_venv.yml
  tests/helpers/test_helper.bash
Due: Library Code

N.bf.1: 'pyve init' mis-reports an unresolvable interpreter as 'invalid manifest'
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_init_pyve_toml.bats
Due: Library Code, Core Script

N.bf.2: 'purge' → 'init' round-trip broken by validate-before-pin ordering
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_init_pyve_toml.bats
Due: Library Code

N.bf.3: 'pyve purge' confirmation preview under-reports the actual blast radius
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/purge_composer.sh
  tests/unit/test_purge_composer.bats
  tests/unit/test_python_plugin_gitignore_purge.bats
Due: Library Code

bugs found, planned
  docs/specs/stories.md
Due: none

N.bf.4: 'assert_python_resolvable' advises 'direnv allow' without checking init state
  docs/specs/stories.md
  lib/env_detect.sh
  tests/unit/test_env_detect.bats
Due: Library Code

N.bf.5: 'env_name' unbound-variable crash in '_purge_pyve_dir'
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_python_plugin_lifecycle.bats
Due: Library Code

N.bf.6: version-manager detection — 'pipefail' false-negative + discarded wizard choice
  docs/specs/stories.md
  lib/env_detect.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_env_detect.bats
  tests/unit/test_init_wizard.bats
Due: Library Code

N.bf.7: 'pyve lock''s bootstrap advice walks into a wall (missing '--no-lock')
  docs/specs/stories.md
  lib/commands/lock.sh
  tests/unit/test_lock_per_env.bats
Due: Library Code

bug/UX fix planning for conda-lock and pyve init with various flags
  docs/specs/stories.md
Due: none

N.bf.8: 'conda-lock'-declared detector
  docs/specs/stories.md
  lib/micromamba_env.sh
  tests/unit/test_lock_validation.bats
Due: Library Code

N.bf.9: Repoint 'init' / 'init --force' to the declarative model
  docs/specs/stories.md
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_check.bats
  tests/unit/test_init_wizard.bats
  tests/unit/test_lock_validation.bats
Due: Library Code

N.bf.10: '--no-lock' = non-destructive 'resolve from 'environment.yml''
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_init_wizard.bats
  tests/unit/test_lock_validation.bats
Due: Library Code

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
