Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

v1.5.1 Fix kcov Repository URL in CI
  .github/workflows/test.yml
  pyve.sh
Due: Core Script

MkDocs automated serve to index.html
  .github/workflows/deploy-docs.yml
  docs/site/.gitignore
  docs/site/ci-cd.md
  docs/site/index.html
  docs/specs/stories.md
  mkdocs.yml
Due: none

Documentation pages complete
  docs/site/backends.md
  docs/site/getting-started.md
  docs/site/index.html
  docs/site/usage.md
  docs/specs/stories.md
  mkdocs.yml
Due: none

Correct quick start for homebrew install
  docs/site/index.html
Due: none

documentation refactor
  docs/guides/documentation-setup-guide.md
  docs/guides/project-guide.md
  docs/specs/bootstrap-stories.md
  docs/specs/tech-spec.md
  docs/specs/testing-spec.md
Due: none

v1.5.2 CHANGELOG.md and License Header Compliance
  CHANGELOG.md
  README.md
  docs/specs/stories.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/conftest.py
  tests/integration/test_auto_detection.py
  tests/integration/test_bootstrap.py
  tests/integration/test_cross_platform.py
  tests/integration/test_doctor.py
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_reinit.py
  tests/integration/test_run_command.py
  tests/integration/test_testenv.py
  tests/integration/test_validate.py
  tests/integration/test_venv_workflow.py
Due: Core Script

v1.5.3 Fix Pyve micromamba purge ordering
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_micromamba_workflow.py
Due: Core Script

v1.5.4 Fix test_purge_with_keep_testenv test failure
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_micromamba_workflow.py
Due: Core Script

v1.6.0 Auto-upgrade pip during environment initialization and v1.6.1 Production Mode Migration
  .github/FUNDING.yml
  .project-guides.yml
  CHANGELOG.md
  README.md
  SECURITY.md
  docs/guides/README.md
  docs/guides/best-practices-guide.md
  docs/guides/debug-guide.md
  docs/guides/descriptions-guide.md
  docs/guides/developer/codecov-setup-guide.md
  docs/guides/developer/production-mode.md
  docs/guides/documentation-setup-guide.md
  docs/guides/project-guide.md
  docs/site/getting-started.md
  docs/specs/stories.md
  lib/distutils_shim.sh
  pyve.sh
  tests/integration/test_pip_upgrade.py
Due: Library Code, Core Script

v1.6.2 Fix --force Backend Preservation in Ambiguous Cases
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_force_backend_detection.py
Due: Core Script

v1.6.2 Interactive Prompts for Ambiguous Backend and Dependency Installation
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/utils.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/unit/test_backend_detect.bats
Due: Library Code, Core Script

v1.6.2 Documentation updates
  docs/site/backends.md
  docs/site/usage.md
  docs/specs/stories.md
Due: none

v1.6.2 Fix --force Backend Preservation in Ambiguous Cases (#1)
  docs/site/backends.md
  docs/site/usage.md
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/utils.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_force_backend_detection.py
  tests/unit/test_backend_detect.bats
Due: Library Code, Core Script

v1.6.3 Fix --force Backend Preservation Logic
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

stories status update
  docs/specs/stories-changed.md
Due: none

v1.6.4 Fix --force Interactive Prompt in Ambiguous Cases
  CHANGELOG.md
  docs/specs/stories-changed.md
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/utils.sh
  pyve.sh
  tests/integration/test_force_ambiguous_prompt.py
  tests/integration/test_force_backend_detection.py
  tmp/environment.yml
  tmp/pyproject.toml
  tmp/pyve_purge_log.txt
Due: Library Code, Core Script

v1.6.4 Documentation - Interactive Prompts
  README.md
  docs/site/getting-started.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

v1.6.4 Fix --init --force Interactive Prompt, ambiguous cases (#4)
  CHANGELOG.md
  README.md
  docs/site/getting-started.md
  docs/specs/features.md
  docs/specs/stories-changed.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/backend_detect.sh
  lib/utils.sh
  pyve.sh
  tests/integration/test_force_ambiguous_prompt.py
  tests/integration/test_force_backend_detection.py
  tmp/environment.yml
  tmp/pyproject.toml
  tmp/pyve_purge_log.txt
Due: Library Code, Core Script

early planning
  docs/specs/pyve-improvements.md
  docs/specs/stories.md
Due: none

v1.7.0 Fix conda-lock.yml Incorrectly Added to .gitignore
  CHANGELOG.md
  docs/specs/features.md
  docs/specs/pyve-improvements.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_utils.bats
Due: Core Script

v1.7.1 Hard Fail When Project Is Inside a Cloud-Synced Directory
  CHANGELOG.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_utils.bats
Due: Library Code, Core Script

v1.7.2 Auto-Generate .vscode/settings.json for Micromamba Backend
  CHANGELOG.md
  docs/site/backends.md
  docs/specs/features.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_utils.bats
Due: Library Code, Core Script

v1.7.3 pyve doctor Detects Duplicate dist-info and iCloud Collision Artifacts
  CHANGELOG.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_doctor.bats
Due: Library Code, Core Script

v1.8.0 Enforce conda-lock.yml Presence Before pyve --init
  CHANGELOG.md
  docs/specs/features.md
  docs/specs/stories.md
  lib/micromamba_env.sh
  pyve.sh
  tests/unit/test_lock_validation.bats
Due: Library Code, Core Script

v1.8.1 pyve doctor Detects conda/pip Native Library Conflicts
  CHANGELOG.md
  docs/specs/.archive/pyve-improvements-phase-g-v1.8.1.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_doctor.bats
Due: Library Code, Core Script

v1.8.2 Fix Integration Tests Broken by v1.8.0 Hard-Fail Lock Check
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
Due: Core Script

Phase F: Fixes and Improvements (#5)
  CHANGELOG.md
  docs/site/backends.md
  docs/site/usage.md
  docs/specs/.archive/pyve-improvements-phase-g-v1.8.1.md
  docs/specs/features.md
  docs/specs/stories.md
  lib/micromamba_env.sh
  lib/utils.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/unit/test_doctor.bats
  tests/unit/test_lock_validation.bats
  tests/unit/test_utils.bats
Due: Library Code, Core Script

v1.8.3 Update GitHub Actions to Node.js 24 Compatible Versions
  .github/workflows/deploy-docs.yml
  .github/workflows/test.yml
  docs/specs/stories.md
Due: none

Documentation Audit — Sync Site Docs with Phase F Implementation
  CHANGELOG.md
  docs/site/backends.md
  docs/site/getting-started.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  pyve.sh
Due: Core Script

v1.8.3 - Fix/node deprecation and update documentation (#6)
  .github/workflows/deploy-docs.yml
  .github/workflows/test.yml
  CHANGELOG.md
  docs/site/backends.md
  docs/site/getting-started.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  pyve.sh
Due: Core Script

update readme about homebrew installation
  README.md
Due: none

update readme about homebrew installation (#7)
  README.md
Due: none

v1.8.4 Fix conda Platform String and --force Pre-Flight Check Ordering
  CHANGELOG.md
  docs/specs/stories.md
  lib/micromamba_env.sh
  pyve.sh
  tests/unit/test_lock_validation.bats
Due: Library Code, Core Script

v1.8.4 Fix conda Platform String and --force Pre-Flight Check Ordering (#8)
  CHANGELOG.md
  docs/specs/stories.md
  lib/micromamba_env.sh
  pyve.sh
  tests/unit/test_lock_validation.bats
Due: Library Code, Core Script

v1.8.5 Fix Double Backend Prompt and Improve --force UX
  CHANGELOG.md
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/micromamba_env.sh
  pyve.sh
Due: Library Code, Core Script

v1.8.5 Fix Double Backend Prompt and Improve --force UX (#9)
  CHANGELOG.md
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/micromamba_env.sh
  pyve.sh
Due: Library Code, Core Script

v1.8.6 Fix --force Pre-Flight Ignoring Project Files When Config Records Old Backend
  CHANGELOG.md
  docs/specs/stories.md
  lib/backend_detect.sh
  pyve.sh
  tests/integration/test_force_backend_detection.py
Due: Library Code, Core Script

v1.8.6 Fix --force Pre-Flight Ignoring Project Files When Config Records Old Backend (#10)
  CHANGELOG.md
  docs/specs/stories.md
  lib/backend_detect.sh
  pyve.sh
  tests/integration/test_force_backend_detection.py
Due: Library Code, Core Script

v1.9.0 pyve lock — conda-lock Wrapper Command
  CHANGELOG.md
  README.md
  docs/site/backends.md
  docs/site/ci-cd.md
  docs/site/usage.md
  docs/specs/conda-lock-improvements.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/micromamba_env.sh
  pyve.sh
  tests/integration/test_lock_command.py
  tests/unit/test_lock_validation.bats
Due: Library Code, Core Script

v1.9.0 pyve lock --check — Lock Currency Verification
  CHANGELOG.md
  docs/site/ci-cd.md
  docs/site/usage.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_lock_command.py
Due: Core Script

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
