Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

N.bf.11: Scaffold + interactive wizard 'conda-lock' opt-in
  docs/specs/stories.md
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_init_wizard.bats
  tests/unit/test_scaffold_environment_yml.bats
Due: Library Code

N.bf.12: Targeted docs for the declarative lock model
  README.md
  docs/site/backends.md
  docs/site/getting-started.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

N.bf.13: 'Update in-place' silently ignores 'environment.yml' edits
  README.md
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_init_wizard.bats
Due: Library Code

N.bf.14: Main micromamba env → v3 '.state' layout (finish the N.g physical move)
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/envs.sh
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  tests/helpers/test_helper.bash
  tests/integration/test_micromamba_workflow.py
  tests/unit/test_main_micromamba_env_layout.bats
  tests/unit/test_python_activate_emitter.bats
  tests/unit/test_utils.bats
Due: Library Code

N.bf.15: Hash-based 'environment.yml'-drift detection + detect-and-offer on update
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  tests/unit/test_environment_yml_drift.bats
Due: Library Code

N.bf.16: 'pyve --help' documents the deprecated 'testenv' and omits the canonical 'env'
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_release_v2_0_1.bats
  tests/unit/test_subcommand_help.bats
Due: Core Script

N.bf.17, N.bg: 'pyve test' materializes '.pyve/envs/<name>' before the Python-resolvability gate, leaving strays on uninitialized projects + Fix pre-existing integration test failure
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/utils.sh
  tests/integration/test_auto_detection.py
  tests/unit/test_env_failed_provision_cleanup.bats
Due: Library Code

N.bf.18: 'pyve env <leaf> <name>' on an uninitialized project should say 'run 'pyve init'' before 'not declared'
  docs/specs/stories.md
  lib/envs.sh
  tests/unit/test_env_name_init_gate.bats
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_purge_name.bats
  tests/unit/test_testenv_run_name.bats
Due: Library Code

N.bf.19: 'pyve env' name-validation reads the v2 'pyproject.toml [tool.pyve.testenvs]' surface, not the v3 'pyve.toml [env.<name>]' manifest
  docs/specs/stories.md
  lib/envs.sh
  tests/unit/test_env_name_manifest_decl.bats
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_name_aware.bats
Due: Library Code

N.bf.20: 'pyve env install' leaves a '.pyve' stray (lock-before-init-check) and emits deprecated 'testenv' branding
  docs/specs/stories.md
  lib/commands/env.sh
  lib/envs.sh
  tests/unit/test_env_install_no_stray.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_ui.bats
Due: Library Code

N.bf.21: '--help' 'pyve run pytest' example is misleading (collides with 'pyve test', fails under the two-env model)
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_cli_dispatch.bats
Due: Core Script

N.bf.22: 'pyve init''s 'project-guide init' fails on asdf projects pinned off 'DEFAULT_PYTHON_VERSION' (bare-PATH shadows the hosted shim)
  docs/specs/stories.md
  lib/toolchain_python.sh
  lib/utils.sh
  tests/unit/test_project_guide_hosting.bats
  tests/unit/test_project_guide_orchestration.bats
Due: Library Code

N.bh: project-guide hosting is never provisioned on Homebrew / fresh-source installs → lazy auto-provision + brew 'post_install' (replaces the asdf-error leak)
  docs/specs/cli-output-contract.md
  docs/specs/stories.md
  lib/commands/self.sh
  lib/project_guide.sh
  lib/toolchain_python.sh
  lib/utils.sh
  tests/unit/test_project_guide.bats
  tests/unit/test_project_guide_hosting.bats
  tests/unit/test_project_guide_orchestration.bats
Due: Library Code

N.bi: surface project-guide / toolchain integration in 'pyve check' (info) and 'pyve status' (snapshot)
  docs/specs/stories.md
  lib/check_composer.sh
  lib/status_composer.sh
  lib/utils.sh
  tests/unit/test_project_guide.bats
  tests/unit/test_pyve_hosting_diagnostic.bats
Due: Library Code

N.bl: fix two CI integration failures — N.bf.20 rebrand assertion + auto-pin installed-version robustness
  .project-guide.yml
  docs/specs/stories.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_testenv.py
Due: none

N.bj: hosted-toolchain lifecycle symmetry — 'pyve self unprovision', hosted-version upgrade path, brew-uninstall cleanup
  docs/specs/pyve.rb
  docs/specs/stories.md
  lib/commands/self.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_self_unprovision.bats
Due: Library Code

N.bk: retire (or narrow) the distutils compatibility shim — it's a 2023-era band-aid stamped into 3.14 envs
  CONTRIBUTING.md
  README.md
  docs/site/usage.md
  docs/specs/concept.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  docs/specs/testing-spec.md
  lib/distutils_shim.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/helpers/test_helper.bash
  tests/unit/test_distutils_shim.bats
  tests/unit/test_distutils_shim_coverage.bats
  tests/unit/test_distutils_shim_retired.bats
Due: Library Code, Core Script

restore munged subphase N-8
  docs/specs/stories.md
Due: none

N.bm: macOS-CI false 'Python not installed' — SIGPIPE in 'is_python_version_installed' under 'pipefail'
  .github/workflows/test.yml
  docs/specs/stories.md
  lib/env_detect.sh
  lib/plugins/node/runtime_detect.sh
  tests/unit/test_env_detect.bats
Due: Library Code

N.bo: integration 'project-guide' stub bypassed by hosted-absolute-path resolution — 'PYVE_PROJECT_GUIDE_BIN' override seam
  .project-guide.yml
  docs/specs/stories.md
  lib/toolchain_python.sh
  tests/integration/test_project_guide_integration.py
  tests/unit/test_project_guide_hosting.bats
Due: Library Code

N.bn: Remove N.bm's SIGPIPE-fix instrumentation once macOS-CI confirms green
  .github/workflows/test.yml
  docs/specs/stories.md
  lib/env_detect.sh
Due: Library Code

bump Pyve pre-release version to alpha3
  pyve.sh
Due: Core Script

N.bf: End-to-end test verification + N-7 project-essentials append (if any)
  docs/specs/project-essentials.md
  docs/specs/stories.md
Due: none

Subphase N-8 planning
  .project-guide.yml
  docs/specs/stories.md
Due: none

N.bp: brand-descriptions.md v3 reflow — complete the brand alignment
  docs/specs/brand-descriptions.md
  docs/specs/brand-descriptions_old.md
  docs/specs/stories.md
Due: none

N.bq: Canonical spec docs cascade — concept / features / tech-spec + Phase N pre-cleanup
  .project-guide.yml
  docs/specs/.archive/phase-n-2-spike-env-model-worked-examples.md
  docs/specs/.archive/phase-n-7-audit.md
  docs/specs/.archive/phase-n-framework-plugin-architecture.md
  docs/specs/.archive/phase-n-plugin-architecture-named-envs-plan.md
  docs/specs/.archive/spike-n-ae-envrc-composer-contract.md
  docs/specs/.archive/spike-n-ao-project-guide-provisioning.md
  docs/specs/.archive/spike-n-at-composed-init-seam.md
  docs/specs/concept.md
  docs/specs/features.md
  docs/specs/pyve.rb
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

N.br: MkDocs public site + README — v3 pages (update + create)
  README.md
  docs/site/backends.md
  docs/site/ci-cd.md
  docs/site/environments.md
  docs/site/getting-started.md
  docs/site/index.html
  docs/site/migration.md
  docs/site/packaging.md
  docs/site/plugins.md
  docs/site/polyglot.md
  docs/site/pyve-toml.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/stories.md
  mkdocs.yml
Due: none

Subphase N-9 planning
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

N.bs, N.bt: v3.0.0 Final integration verification matrix — Python-only / Node-only / polyglot + CHANGELOG + release notes
  .project-guide.yml
  CHANGELOG.md
  docs/specs/stories.md
Due: none

N.bu: Homebrew formula release readiness
  .github/workflows/update-homebrew.yml
  .project-guide.yml
  docs/specs/stories.md
Due: none

v3.0.0 release + Homebrew trust transition (#48)
  .github/workflows/update-homebrew.yml
  .project-guide.yml
  docs/specs/stories.md
Due: none

N.bu: Homebrew formula release readiness, round 2
  .github/workflows/update-homebrew.yml
  docs/specs/stories.md
Due: none

N.bu: Homebrew formula release readiness, round 2 (#49)
  .github/workflows/update-homebrew.yml
  docs/specs/stories.md
Due: none

N.bu: Homebrew formula release readiness, round 3
  .github/workflows/update-homebrew.yml
  docs/specs/stories.md
Due: none

N.bu: Homebrew formula release readiness, round 3 (#50)
  .github/workflows/update-homebrew.yml
  docs/specs/stories.md
Due: none

historical spec archeology
  docs/specs/.archive/design_decisions.md
  docs/specs/.archive/features_old.md
  docs/specs/.archive/micromamba_spec_2026-01-06.md
  docs/specs/.archive/project-guide-refactoring.md
  docs/specs/.archive/versions_spec_2025-12-17.md
  docs/specs/.archive/versions_spec_2026-01-05.md
  docs/specs/.archive/versions_spec_2026_01_09.md
  docs/specs/.archive/versions_spec_v0.7.md
  docs/specs/.archive/versions_spec_v1.1.3.md
Due: none

historical spec archeology (#51)
  docs/specs/.archive/design_decisions.md
  docs/specs/.archive/features_old.md
  docs/specs/.archive/micromamba_spec_2026-01-06.md
  docs/specs/.archive/project-guide-refactoring.md
  docs/specs/.archive/versions_spec_2025-12-17.md
  docs/specs/.archive/versions_spec_2026-01-05.md
  docs/specs/.archive/versions_spec_2026_01_09.md
  docs/specs/.archive/versions_spec_v0.7.md
  docs/specs/.archive/versions_spec_v1.1.3.md
Due: none

N.bv: 'brew upgrade' hangs silently in 'pyve self provision' — suppressed interactive prompt in the toolchain bootstrap
  docs/specs/stories.md
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

N.bv: 'brew upgrade' hangs silently in 'pyve self provision' — suppressed interactive prompt in the toolchain bootstrap (#52)
  docs/specs/stories.md
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
