Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

v0.8.7: Version Tracking Library - Foundation
  docs/specs/versions_spec.md
  lib/version.sh
  pyve.sh
Due: Library Code, Core Script

v0.8.8: Validate Command Integration
  README.md
  docs/specs/versions_spec.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_validate.py
  tests/unit/test_version.bats
Due: Core Script

v0.8.9: Smart Re-initialization, help/documentation tweaks
  README.md
  docs/specs/versions_spec.md
  pyve.sh
  tests/integration/test_reinit.py
  tests/unit/test_reinit.bats
Due: Core Script

Fix missing os import in test_reinit.py
  tests/integration/test_reinit.py
Due: none

Fix PYVE_ROOT setup in test_reinit.bats unit tests
  tests/unit/test_reinit.bats
Due: none

Add init_venv and init_micromamba methods to ProjectBuilder
  tests/helpers/pyve_test_helpers.py
Due: none

v0.8.9a: Test Fixes, no impact to user
  docs/guide_versions_spec.md
  docs/specs/versions_spec.md
Due: none

Fix test_reinit.py to use pyve.init() instead of non-existent ProjectBuilder methods
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_reinit.py
Due: none

Add testing requirements to guide and document v0.8.9b
  docs/guide_versions_spec.md
  docs/specs/versions_spec.md
Due: none

Fix CI/CD: Source asdf before running integration tests
  .github/workflows/test.yml
Due: none

Fix CI/CD compatibility: PYVE_ROOT in test_version.bats, Bash 3.x lowercase, doctor() check param
  lib/micromamba_env.sh
  tests/helpers/pyve_test_helpers.py
  tests/unit/test_version.bats
Due: Library Code

Document v0.8.9c: CI/CD compatibility fixes
  docs/specs/versions_spec.md
Due: none

Fix asdf Python setup: use actions/setup-python version instead of installing via asdf
  .github/workflows/test.yml
Due: none

Switch from asdf to pyenv for simpler CI/CD setup
  .github/workflows/test.yml
Due: none

Add pyenv shims to PATH and verify pyenv before running tests
  .github/workflows/test.yml
Due: none

Pass environment to subprocesses so pyenv is available to pyve.sh
  .github/workflows/test.yml
  tests/helpers/pyve_test_helpers.py
Due: none

Document v0.8.9d: CI/CD workflow improvements and test status
  docs/specs/versions_spec.md
Due: none

Skip venv tests in CI/CD that require complex pyenv setup
  tests/integration/test_cross_platform.py
Due: none

Add v0.8.10 spec for unit test bugfixes
  docs/specs/versions_spec.md
Due: none

Fix 7 unit test failures (v0.8.10)
  lib/micromamba_env.sh
  lib/version.sh
Due: Library Code

Document v0.8.10 bugfixes in spec
  docs/specs/versions_spec.md
Due: none

Add missing os import in test_cross_platform.py
  tests/integration/test_cross_platform.py
Due: none

Skip additional venv tests in CI/CD
  tests/integration/test_cross_platform.py
Due: none

Skip all remaining venv tests in CI/CD
  tests/integration/test_cross_platform.py
  tests/integration/test_doctor.py
Due: none

Skip all venv tests in CI/CD
  tests/integration/test_cross_platform.py
  tests/integration/test_doctor.py
Due: none

v0.8.11: Fix CI/CD Test Failures - Conditional Direnv Check
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

v0.8.11a: Fix CI/CD Test Hanging - Skip Interactive Prompts
  docs/specs/versions_spec.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
Due: Core Script

v0.8.11b: Fix CI/CD Test Hanging - Auto-Accept Installation Prompts
  docs/specs/versions_spec.md
  lib/env_detect.sh
  lib/micromamba_env.sh
Due: Library Code

v0.8.11c: Fix Test Helper and Missing Package Installation
  docs/specs/versions_spec.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_run_command.py
Due: none

v0.8.11d: Make Failing Tests Non-Blocking
  docs/specs/versions_spec.md
  tests/integration/test_run_command.py
  tests/integration/test_venv_workflow.py
Due: none

v0.8.11e: Fix init() Method to Pass Through check Parameter
  docs/specs/versions_spec.md
  tests/helpers/pyve_test_helpers.py
Due: none

v0.8.12: Local CI Simulation with pytest, v0.8.13: Fix Remaining Venv Integration Test Failures
  Makefile
  docs/specs/versions_spec.md
  tests/integration/test_venv_workflow.py
Due: none

v0.8.14: Fix Micromamba Integration Test Failures
  Makefile
  docs/specs/versions_spec.md
  pyve.sh
  tests/integration/test_run_command.py
Due: Core Script

v0.8.15: Fix Codecov Integration
  .github/workflows/test.yml
  codecov.yml
  docs/codecov-setup.md
  docs/specs/versions_spec.md
Due: none

v0.8.15a: Fix Test Version Hardcoding and CI-Mode Test Adjustments
  docs/specs/versions_spec.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_auto_detection.py
  tests/integration/test_reinit.py
Due: none

v0.8.15b: Fix Remaining Test Failures and Skip Unimplemented Features
  docs/specs/versions_spec.md
  tests/integration/test_run_command.py
  tests/integration/test_validate.py
Due: none

v0.8.15c: Document and Categorize Skipped Tests
  docs/specs/versions_spec.md
Due: none

v0.8.16: Micromamba Messaging Fixes
  Makefile
  docs/specs/versions_spec.md
  lib/micromamba_env.sh
  pyve.sh
  requirements-dev.txt
Due: Library Code, Core Script

v0.8.16a: Add Deterministic Micromamba Bootstrap Unit Test
  docs/specs/versions_spec.md
  pyve.sh
  tests/unit/test_micromamba_bootstrap.bats
Due: Core Script

v0.8.17: Harden Self-Install Atomicity
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
