Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
    
    changes:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  integration-ubuntu-latest-py3.10:
    carryforward: true
  integration-ubuntu-latest-py3.11:
    carryforward: true
  integration-ubuntu-latest-py3.12:
    carryforward: true
  integration-macos-latest-py3.10:
    carryforward: true
  integration-macos-latest-py3.11:
    carryforward: true
  integration-macos-latest-py3.12:
    carryforward: true
  micromamba-ubuntu-latest-py3.11:
    carryforward: true
  micromamba-macos-latest-py3.11:
    carryforward: true

ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "*.md"
  - ".github/**/*"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: lib
      name: Library Code
      paths:
        - lib/**/*.sh
    - component_id: core
      name: Core Script
      paths:
        - pyve.sh

N.bw: v3.0.1 hotfix — 'fallback_ver' unbound variable aborts 'pyve self provision' on the interactive branch
  docs/specs/project-guide-requests/local-install-warning-readiness-gate.md
  docs/specs/stories.md
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

N.bw: v3.0.1 hotfix — 'fallback_ver' unbound variable aborts 'pyve self provision' on the interactive branch (#53)
  docs/specs/project-guide-requests/local-install-warning-readiness-gate.md
  docs/specs/stories.md
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

N.bx, N.by: v3.0.2 hotfix to v3.0.3, remove auto-self-provision from brew install
  docs/specs/stories.md
  lib/check_composer.sh
  lib/status_composer.sh
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

N.bx, N.by: v3.0.2 hotfix to v3.0.3, remove auto-self-provision from brew install (#54)
  docs/specs/stories.md
  lib/check_composer.sh
  lib/status_composer.sh
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

fix v2 to v3 migration overcommit
  .project-guide.yml
Due: none

O.a: v3.0.4 'pyve migrate' clunkiness — 'pyve self migrate' commits the entire '.v2-legacy' backup ('.gitignore' never covers '.pyve/' state)
  .gitignore
  docs/specs/stories.md
  lib/commands/self.sh
  lib/gitignore_composer.sh
  pyve.sh
  tests/unit/test_gitignore_composer.bats
  tests/unit/test_self_migrate.bats
  tests/unit/test_update.bats
Due: Library Code, Core Script

O.b: Extend the '.pyve/' gitignore-contract update across the integration suite + keep the emitted file clean (CI follow-up to O.a)
  docs/specs/stories.md
  lib/gitignore_composer.sh
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_venv_workflow.py
Due: Library Code

O.c: 'pyve self provision --status' — machine-readable hosting-readiness query (project-guide coordination seam)
  .project-guide.yml
  CHANGELOG.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/commands/self.sh
  lib/toolchain_python.sh
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_self_provision_status.bats
Due: Library Code

v3.0.4 bug fixes for v2 -> v3 migration + Phase N cleanup (#55)
  .gitignore
  .project-guide.yml
  .pyve/config
  CHANGELOG.md
  docs/specs/.archive/stories-v3.0.2.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/commands/self.sh
  lib/gitignore_composer.sh
  lib/toolchain_python.sh
  pyve.sh
  pyve.toml
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_venv_workflow.py
  tests/unit/test_gitignore_composer.bats
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_self_migrate.bats
  tests/unit/test_self_provision_status.bats
  tests/unit/test_update.bats
Due: Library Code, Core Script

O.d: 'pyve init --force' (and 'self migrate' rebuild) is blind to v3 'pyve.toml' content — re-derives backend/python from filesystem heuristics, silently converting backend
  docs/specs/modelfoundry-env-dependencies.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/self.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_init_wizard.bats
  tests/unit/test_self_migrate.bats
Due: Library Code

O.e: v3 root-env relocation 'mv's a micromamba env — breaks every console script (dead shebangs); env looks healthy because python still runs
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/envs.sh
  lib/micromamba_env.sh
  tests/unit/test_main_micromamba_env_layout.bats
Due: Library Code

O.f: v3.0.5 — bundle version bump + final testing
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

v3.0.5 fix v2 to v3 migration (#56)
  CHANGELOG.md
  docs/specs/modelfoundry-env-dependencies.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/self.sh
  lib/envs.sh
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_init_wizard.bats
  tests/unit/test_main_micromamba_env_layout.bats
  tests/unit/test_self_migrate.bats
Due: Library Code, Core Script

O.i: General housekeeping + Homebrew update formula validation + CLI install/upgrade improvements
  docs/specs/pyve.rb
  docs/specs/stories.md
  tests/unit/test_state_layout.bats
  tests/unit/test_testenvs_activate.bats
Due: none

O.k story bundle breakdown
  docs/specs/stories.md
Due: none

O.g: 'pyve check' is v3-blind — hard-errors '.pyve/config missing' on a valid 'pyve.toml' project (and 'init' papers over it by re-writing the v2 config)
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_check.bats
  tests/unit/test_status.bats
Due: Library Code

O.h: 'pyve init' re-asks the project-guide completion prompt every run — sentinel check runs *after* the prompt, not before
  docs/specs/stories.md
  lib/project_guide.sh
  tests/unit/test_project_guide.bats
Due: Library Code

O.j: box commands print '✔ All done.' even when the command failed ('footer_box' is status-blind)
  docs/specs/pyve.rb
  docs/specs/stories.md
  lib/commands/env.sh
  lib/ui/core.sh
  tests/unit/test_env_dispatcher.bats
  tests/unit/test_ui.bats
Due: Library Code

Fix CI, O.j test flake
  docs/specs/stories.md
  tests/unit/test_env_dispatcher.bats
Due: none

O.k.1: migrate the env-lifecycle config reader onto the 'pyve.toml' manifest
  docs/specs/stories.md
  lib/commands/self.sh
  lib/envs.sh
  tests/unit/test_env_name_manifest_decl.bats
Due: Library Code

O.k.2: rewrite the now-accurate env/lock help + error strings to 'pyve.toml [env.<name>]'
  docs/specs/stories.md
  lib/commands/env.sh
  lib/commands/lock.sh
  tests/unit/test_env_v3_strings.bats
Due: Library Code

O.l: 'pyve init' crashes on a declared 'none' / advisory root backend — can't materialize a no-Python-root topology (e.g. 'none'-root + micromamba-testenv)
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_init_none_root.bats
Due: Library Code

O.m: 'pyve test' / 'pyve env run' cannot operate a conda-backed testenv — primary dev loop hard-gated off conda
  docs/specs/stories.md
  lib/commands/env.sh
  lib/envs.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_conda_env_exec.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_run_name.bats
Due: Library Code

O.n: 'pyve env install -r' silently drops pip requirements for conda testenvs — no conda+pip layer
  docs/specs/stories.md
  lib/commands/env.sh
  tests/unit/test_conda_pip_layer.bats
Due: Library Code

O.o.1: a no-backend testenv resolves 'inherit' against the manifest root (not hardcoded 'venv')
  docs/specs/env-lifecycle-concept.md
  docs/specs/stories.md
  lib/envs.sh
  tests/unit/test_oo1_inherit_mirror.bats
Due: Library Code

O.o.2, O.o.3: gate 'pyve init' testenv materialization on a declared test env (+ fix the stale promise comment) + 'pyve test' autowiring + homogeneity guard
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_oo2_init_gate.bats
  tests/unit/test_oo3_autowire.bats
Due: Library Code

O.o.4: document the 'pyve init' contract — declaration vs. materialization vs. mechanics
  docs/site/environments.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

v3.0.6 housekeeping and fixes (#57)
  docs/site/environments.md
  docs/specs/env-lifecycle-concept.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/env.sh
  lib/commands/lock.sh
  lib/commands/self.sh
  lib/envs.sh
  lib/plugins/python/plugin.sh
  lib/project_guide.sh
  lib/ui/core.sh
  pyve.sh
  tests/unit/test_check.bats
  tests/unit/test_conda_env_exec.bats
  tests/unit/test_conda_pip_layer.bats
  tests/unit/test_env_dispatcher.bats
  tests/unit/test_env_name_manifest_decl.bats
  tests/unit/test_env_v3_strings.bats
  tests/unit/test_init_none_root.bats
  tests/unit/test_oo1_inherit_mirror.bats
  tests/unit/test_oo2_init_gate.bats
  tests/unit/test_oo3_autowire.bats
  tests/unit/test_project_guide.bats
  tests/unit/test_state_layout.bats
  tests/unit/test_status.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_run_name.bats
  tests/unit/test_testenvs_activate.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

P.a: v3.0.7 — 'pyve self install' ships every 'lib/' subtree (recursive copy), not a drifting allowlist + Python 3.14.6 default
  .envrc.prev
  .gitignore.prev
  .project-guide.yml
  .tool-versions
  docs/specs/.archive/stories-v3.0.5.md
  docs/specs/stories.md
  lib/commands/self.sh
  pyve.sh
  pyve.toml
  tests/unit/test_self_install.bats
Due: Library Code, Core Script

P.a: v3.0.7 — 'pyve self install' ships every 'lib/' subtree (recursive copy), not a drifting allowlist + Python 3.14.6 default (#58)
  .envrc.prev
  .gitignore.prev
  .project-guide.yml
  .tool-versions
  docs/specs/.archive/stories-v3.0.5.md
  docs/specs/stories.md
  lib/commands/self.sh
  pyve.sh
  pyve.toml
  tests/unit/test_self_install.bats
Due: Library Code, Core Script

doc planning, updates
  .project-guide.yml
  docs/specs/concept.md
  docs/specs/features.md
  docs/specs/stories.md
Due: none

doc planning, updates (#62)
  .project-guide.yml
  docs/specs/concept.md
  docs/specs/features.md
  docs/specs/stories.md
Due: none

P.b, P.c: UX Vision + Phase P Plan Realignment
  .envrc.prev
  .gitignore.prev
  .project-guide.yml
  docs/specs/concept.md
  docs/specs/features_old.md
  docs/specs/phase-p-subphase-1-ux-overhaul.md
  docs/specs/stories.md
  docs/specs/tech-spec_old.md
Due: none

P.a.1: v3.0.8 — 'pyve init' completes its composition tail ('.gitignore' / '.envrc' / next-steps) even when a secondary-plugin install exits non-zero
  .project-guide.yml
  docs/specs/stories.md
  lib/init_composer.sh
  lib/plugins/node/plugin.sh
  pyve.sh
  tests/unit/test_composed_init_secondary_failure.bats
Due: Library Code, Core Script

P.e: [Spike] Parameter decision-graph → wizard/flags/help generation in Bash
  docs/specs/spike-p-e-decision-graph.md
  docs/specs/stories.md
  scripts/spike_decision_graph.sh
Due: none

P.f: Parameter decision-graph — core model & walk engine
  docs/specs/stories.md
  lib/param_graph.sh
  pyve.sh
  tests/unit/test_param_graph.bats
Due: Library Code, Core Script

P.g.1: 'pyve init' non-interactive surface — flag parsing, valid-flag list, '--help' from the graph
  docs/specs/stories.md
  lib/param_graph.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_init_param_graph.bats
  tests/unit/test_param_graph.bats
Due: Library Code

P.f.1: Establish a clean 'shellcheck' baseline across 'pyve.sh' + 'lib/'
  docs/specs/stories.md
  lib/commands/env.sh
  lib/commands/self.sh
  lib/envs.sh
  lib/manifest.sh
  lib/micromamba_bootstrap.sh
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  lib/version.sh
  pyve.sh
  tests/unit/test_shellcheck_clean.bats
Due: Library Code, Core Script
