Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
    
    changes:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  integration-ubuntu-latest-py3.10:
    carryforward: true
  integration-ubuntu-latest-py3.11:
    carryforward: true
  integration-ubuntu-latest-py3.12:
    carryforward: true
  integration-macos-latest-py3.10:
    carryforward: true
  integration-macos-latest-py3.11:
    carryforward: true
  integration-macos-latest-py3.12:
    carryforward: true
  micromamba-ubuntu-latest-py3.11:
    carryforward: true
  micromamba-macos-latest-py3.11:
    carryforward: true

ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "*.md"
  - ".github/**/*"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: lib
      name: Library Code
      paths:
        - lib/**/*.sh
    - component_id: core
      name: Core Script
      paths:
        - pyve.sh

v1.9.0 Fix 'No environment found' After Update-in-Place on Cloned Projects
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_reinit.py
Due: Core Script

pyve lock / conda-lock workflow ownership (#11)
  CHANGELOG.md
  README.md
  docs/site/backends.md
  docs/site/ci-cd.md
  docs/site/usage.md
  docs/specs/conda-lock-improvements.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/micromamba_env.sh
  pyve.sh
  tests/integration/test_lock_command.py
  tests/integration/test_reinit.py
  tests/unit/test_lock_validation.bats
Due: Library Code, Core Script

move conda-lock improvement planning doc to archive
  docs/specs/.archive/conda-lock-improvements.md
Due: none

move conda-lock improvement planning doc to archive (#12)
  docs/specs/.archive/conda-lock-improvements.md
Due: none

v1.9.1 pyve doctor Detects Relocated venv
  .gitignore
  .project-guide.yml
  .pyve/config
  CHANGELOG.md
  docs/guides/README.md
  docs/guides/best-practices-guide.md
  docs/guides/developer/production-mode.md
  docs/guides/project-guide.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_doctor.py
  tests/unit/test_doctor.bats
Due: Library Code, Core Script

v1.9.1 fix grep pipefail
  lib/utils.sh
Due: Library Code

v1.9.1 another integration test fix
  lib/utils.sh
  tests/unit/test_doctor.bats
Due: Library Code

v1.9.1 another attempt at integration test fix
  lib/utils.sh
  tests/unit/test_doctor.bats
Due: Library Code

v1.9.1 yet another attempt at integration test fix python 3.10
  tests/integration/test_doctor.py
Due: none

v1.9.1 final fix attempt targeted to Python 3.10
  tests/integration/test_doctor.py
Due: none

v1.9.1 detect broken pyve when repo is relocated (#13)
  .gitignore
  .project-guide.yml
  .pyve/config
  CHANGELOG.md
  docs/guides/README.md
  docs/guides/best-practices-guide.md
  docs/guides/developer/production-mode.md
  docs/guides/project-guide.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_doctor.py
  tests/unit/test_doctor.bats
Due: Library Code, Core Script

updated project-guide to v2.0.19
  .gitignore
  .project-guide.yml
  docs/project-guide/go.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/code-test-first-mode.md
  docs/project-guide/templates/modes/code-velocity-mode.md
  docs/project-guide/templates/modes/debug-mode.md
  docs/project-guide/templates/modes/default-mode.md
  docs/project-guide/templates/modes/document-brand-mode.md
  docs/project-guide/templates/modes/document-landing-mode.md
  docs/project-guide/templates/modes/plan-features-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-stories-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/project-scaffold-mode.md
  docs/project-guide/templates/modes/refactor-document-mode.md
  docs/project-guide/templates/modes/refactor-plan-mode.md
  docs/specs/stories.md
Due: none

v1.10.1 - Update Python version to latest, v3.14.4
  pyve.sh
Due: Core Script

v1.10.1 - Retag the main branch commit (fix), and update Python version to latest, v3.14.4 (#16)
  pyve.sh
Due: Core Script

Phase G planning
  .gitignore
  .project-guide.yml
  docs/project-guide/go.md
  docs/specs/brand-descriptions.md
  docs/specs/concept.md
  docs/specs/phase-g-ux-improvements-plan.md
  docs/specs/stories.md
Due: none

v1.11.0 Dispatcher Refactor + Legacy-Flag Catch + Test Sweep
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/go.md
  docs/project-guide/templates/llm_entry_point.md
  docs/specs/.archive/ux-improvements-v1.13.0.md
  docs/specs/phase-g-ux-improvements-plan.md
  docs/specs/stories.md
  lib/micromamba_bootstrap.sh
  lib/micromamba_core.sh
  lib/micromamba_env.sh
  lib/utils.sh
  lib/version.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_auto_detection.py
  tests/integration/test_force_ambiguous_prompt.py
  tests/integration/test_force_backend_detection.py
  tests/integration/test_lock_command.py
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_pip_upgrade.py
  tests/integration/test_reinit.py
  tests/integration/test_subcommand_cli.py
  tests/integration/test_testenv.py
  tests/integration/test_validate.py
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_doctor.bats
Due: Library Code, Core Script

Per-Subcommand --help Plumbing + print_help() Reorganization
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_subcommand_cli.py
  tests/unit/test_subcommand_help.bats
Due: Core Script

update to latest Python version, add spec for 'project-guide init --no-input'
  docs/specs/project-guide-no-input-spec.md
  pyve.sh
Due: Core Script

CLI Refactor Doc + Spec Sync
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/site/backends.md
  docs/site/ci-cd.md
  docs/site/getting-started.md
  docs/site/index.html
  docs/specs/brand-descriptions.md
  docs/specs/concept.md
  docs/specs/features.md
  docs/specs/pyve-run-examples.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  docs/specs/testing-spec.md
  tests/README.md
  tests/integration/test_force_ambiguous_prompt.py
  tests/integration/test_force_backend_detection.py
  tests/integration/test_lock_command.py
  tests/integration/test_pip_upgrade.py
Due: none

v1.12.0 project-guide Integration in pyve init
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/.metadata.yml
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/stories.md
  docs/project-guide/templates/modes/_phase-letters.md
  docs/project-guide/templates/modes/archive-stories-mode.md
  docs/project-guide/templates/modes/default-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-stories-mode.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_project_guide_integration.py
  tests/unit/test_project_guide.bats
Due: Library Code, Core Script

Fix integration test failures with Python version auto-pin
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_project_guide_integration.py
Due: none

Added skip ability on old Python versions, narrowed testing to Python 3.12 only for now
  .github/workflows/test.yml
  CHANGELOG.md
  docs/specs/features.md
  docs/specs/stories.md
  tests/integration/test_project_guide_integration.py
Due: none

v1.13.0 'usage.md' Overhaul + Spec Sync
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/go.md
  docs/site/getting-started.md
  docs/site/usage.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

v1.13.0 - Usage Documentation Overhaul (#17)
  CHANGELOG.md
  docs/site/getting-started.md
  docs/site/usage.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

updated 'project-guide' to v2.3.5
  .gitignore
  .project-guide.yml
  .pyve/config
  .tool-versions
  docs/project-guide/.metadata.yml
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/concept.md
  docs/project-guide/templates/artifacts/features.md
  docs/project-guide/templates/artifacts/project-essentials.md
  docs/project-guide/templates/artifacts/stories.md
  docs/project-guide/templates/artifacts/tech-spec.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/default-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/refactor-plan-mode.md
Due: none

updated 'project-guide' to v2.3.5 (#18)
  .gitignore
  .project-guide.yml
  .pyve/config
  .tool-versions
  docs/project-guide/.metadata.yml
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/concept.md
  docs/project-guide/templates/artifacts/features.md
  docs/project-guide/templates/artifacts/project-essentials.md
  docs/project-guide/templates/artifacts/stories.md
  docs/project-guide/templates/artifacts/tech-spec.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/default-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/refactor-plan-mode.md
Due: none

v1.13.1 project-guide Completion Hotfix — SDKMan-Aware Insertion + Literal \n Bug
  CHANGELOG.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_project_guide.bats
Due: Library Code, Core Script

v1.13.1 - Bug fix shell completion (#19)
  CHANGELOG.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_project_guide.bats
Due: Library Code, Core Script

v1.13.2 Fix prompt_install_pip_dependencies Using Wrong pip (asdf Shim Leak)
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/go.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_utils.bats
Due: Library Code, Core Script

v1.13.2 Fix prompt_install_pip_dependencies Using Wrong pip (asdf Shim Leak) (#20)
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/go.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_utils.bats
Due: Library Code, Core Script

story planning
  docs/specs/stories.md
Due: none

story planning (#21)
  docs/specs/stories.md
Due: none

v1.13.3 Fix testenv Created with System 'python3' Instead of Project Python
  .pyve/config
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_testenv.py
Due: Core Script

v1.13.3 Fix testenv Created with System 'python3' Instead of Project Python (#22)
  .pyve/config
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_testenv.py
Due: Core Script

v1.14.0 Improve project-guide integration
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/.metadata.yml
  docs/project-guide/developer/python-editable-install.md
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/project-essentials-pyve.md
  docs/project-guide/templates/artifacts/project-essentials.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/_header-sequence.md
  docs/project-guide/templates/modes/archive-stories-mode.md
  docs/project-guide/templates/modes/code-direct-mode.md
  docs/project-guide/templates/modes/code-test-first-mode.md
  docs/project-guide/templates/modes/default-mode.md
  docs/project-guide/templates/modes/document-brand-mode.md
  docs/project-guide/templates/modes/document-landing-mode.md
  docs/project-guide/templates/modes/plan-concept-mode.md
  docs/project-guide/templates/modes/plan-features-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-stories-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/scaffold-project-mode.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_project_guide_integration.py
  tests/unit/test_project_guide.bats
Due: Library Code, Core Script

v1.14.0 Improve project-guide integration (#23)
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/.metadata.yml
  docs/project-guide/developer/python-editable-install.md
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/project-essentials-pyve.md
  docs/project-guide/templates/artifacts/project-essentials.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/_header-sequence.md
  docs/project-guide/templates/modes/archive-stories-mode.md
  docs/project-guide/templates/modes/code-direct-mode.md
  docs/project-guide/templates/modes/code-test-first-mode.md
  docs/project-guide/templates/modes/default-mode.md
  docs/project-guide/templates/modes/document-brand-mode.md
  docs/project-guide/templates/modes/document-landing-mode.md
  docs/project-guide/templates/modes/plan-concept-mode.md
  docs/project-guide/templates/modes/plan-features-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-stories-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/scaffold-project-mode.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_project_guide_integration.py
  tests/unit/test_project_guide.bats
Due: Library Code, Core Script

v1.14.1 Cosmetic Blank-Line Fixes in '.gitignore' and '.zshrc'
  CHANGELOG.md
  docs/project-guide/developer/best-practices-guide.md
  docs/project-guide/go.md
  docs/specs/.archive/phase-g-project-guide-no-input-spec.md
  docs/specs/.archive/phase-g-ux-improvements-plan.md
  docs/specs/bootstrap-stories.md
  docs/specs/features.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_project_guide.bats
  tests/unit/test_utils.bats
Due: Library Code, Core Script
