Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

L.k.1: Interactive init wizard — design + tech-spec; L.k.2: Wizard skeleton — dispatch + welcome banner + TTY guard
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/init.sh
  tests/helpers/test_helper.bash
  tests/unit/test_init_wizard.bats
Due: Library Code

L.k.3: Wizard — backend prompt + repo-signal helpers
  docs/specs/stories.md
  lib/commands/init.sh
  tests/unit/test_init_wizard.bats
Due: Library Code

L.k.4: Wizard — Python version pin prompt
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/init.sh
  tests/unit/test_init_wizard.bats
Due: Library Code

L.k.5: Wizard — project-guide install prompt
  docs/specs/stories.md
  lib/commands/init.sh
  tests/unit/test_init_wizard.bats
Due: Library Code

L.k.6: Wizard — end-to-end integration + features.md
  docs/specs/features.md
  docs/specs/stories.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_init_wizard.py
Due: none

L.k.7: CI cleanup — bash 3.2 empty-array fix + wizard-test environment isolation + backend --auto fix
  docs/specs/stories.md
  lib/commands/init.sh
  tests/unit/test_init_wizard.bats
Due: Library Code

L.l: End-of-init 'Next steps:' summary
  docs/specs/features.md
  docs/specs/stories.md
  lib/commands/init.sh
  tests/integration/test_init_next_steps.py
  tests/unit/test_init_next_steps.bats
Due: Library Code

L.m: Phase L wrap-up — project-essentials, version bump, phase closure
  CHANGELOG.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

L.n: v2.6.1 hotfix — 'ui_select' TTY escape leakage
  CHANGELOG.md
  docs/specs/stories.md
  lib/ui/select.sh
  pyve.sh
  tests/unit/test_ui_select.bats
Due: Library Code, Core Script

L.n: v2.6.1 hotfix — 'ui_select' TTY escape leakage (#35)
  CHANGELOG.md
  docs/specs/stories.md
  lib/ui/select.sh
  pyve.sh
  tests/unit/test_ui_select.bats
Due: Library Code, Core Script

L.o: v2.6.2 hotfix — Linux CI mtime check (BSD-vs-GNU 'stat' flag ordering)
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/.metadata.yml
  docs/project-guide/developer/best-practices-guide.md
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/stories.md
  docs/project-guide/templates/artifacts/tech-spec.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/_header-cycle.md
  docs/project-guide/templates/modes/code-direct-mode.md
  docs/project-guide/templates/modes/code-test-first-mode.md
  docs/project-guide/templates/modes/debug-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-production-phase-mode.md
  docs/project-guide/templates/modes/plan-stories-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/scaffold-project-mode.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_distutils_shim_coverage.bats
Due: Core Script

L.o: v2.6.2 hotfix — Linux CI mtime check (BSD-vs-GNU 'stat' flag ordering) (#36)
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/.metadata.yml
  docs/project-guide/developer/best-practices-guide.md
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/stories.md
  docs/project-guide/templates/artifacts/tech-spec.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/_header-cycle.md
  docs/project-guide/templates/modes/code-direct-mode.md
  docs/project-guide/templates/modes/code-test-first-mode.md
  docs/project-guide/templates/modes/debug-mode.md
  docs/project-guide/templates/modes/plan-phase-mode.md
  docs/project-guide/templates/modes/plan-production-phase-mode.md
  docs/project-guide/templates/modes/plan-stories-mode.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/scaffold-project-mode.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_distutils_shim_coverage.bats
Due: Core Script

Phase L Cleanup
  docs/specs/.archive/phase-l-pyve-polish-audit.md
  docs/specs/.archive/phase-l-pyve-polish-plan.md
  docs/specs/.archive/stories-v2.6.2.md
  docs/specs/stories.md
Due: none

M.a: v2.6.3 — User-facing testing docs (close LLM testenv-on-micromamba gap)
  .project-guide.yml
  CHANGELOG.md
  README.md
  docs/site/backends.md
  docs/site/ci-cd.md
  docs/site/getting-started.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/stories.md
  mkdocs.yml
  pyve.sh
Due: Core Script

M.a: v2.6.3 — User-facing testing docs (close LLM testenv-on-micromamba gap) (#38)
  .project-guide.yml
  CHANGELOG.md
  README.md
  docs/site/backends.md
  docs/site/ci-cd.md
  docs/site/getting-started.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/stories.md
  mkdocs.yml
  pyve.sh
Due: Core Script

M.b: v2.6.4 — project-guide completion block leaks asdf-shim stderr at shell init
  CHANGELOG.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_project_guide.bats
Due: Library Code, Core Script

M.b: v2.6.4 — project-guide completion block leaks asdf-shim stderr at shell init (#39)
  CHANGELOG.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_project_guide.bats
Due: Library Code, Core Script

M.c: v2.7.0 — 'pyve test --env main' + silent-skip advisory (micromamba-testenv trap)
  CHANGELOG.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/pyve-micromamba-testenv-trap.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  pyve.sh
  tests/unit/test_test_command.bats
Due: Library Code, Core Script

M.c: v2.7.0 — 'pyve test --env main' + silent-skip advisory (micromamba-testenv trap) (#40)
  CHANGELOG.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/pyve-micromamba-testenv-trap.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  pyve.sh
  tests/unit/test_test_command.bats
Due: Library Code, Core Script

Rough Phase M planning
  .project-guide.yml
  docs/specs/phase-m-pyve-micromamba-testenv-trap.md
  docs/specs/phase-m-pyve-named-testenvs.md
  docs/specs/stories.md
Due: none

M.d: Add '.github/dependabot.yml'
  .github/dependabot.yml
  .project-guide.yml
  docs/specs/phase-m-pyve-named-testenvs.md
  docs/specs/phase-m-testenv-dx-plan.md
  docs/specs/phase-n-pyve-framework-plugin-architecture.md
  docs/specs/stories.md
Due: none

M.e: v2.7.1 — 'pyve test --env main' → '--env root' rename (Category-B catch)
  CHANGELOG.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  pyve.sh
  tests/unit/test_test_command.bats
Due: Library Code, Core Script

M.f, M.g: [Testenv-DX] Architectural spike — '[tool.pyve.testenvs]' config schema & reader pattern + [Testenv-DX] 'lib/testenvs.sh' foundation
  .gitignore
  docs/specs/phase-m-spike-f-testenvs-config.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/pyve_testenvs_helper.py
  lib/testenvs.sh
  pyve.sh
  tests/unit/test_testenvs.bats
Due: Library Code, Core Script

M.h.1: [Testenv-DX] '.state' file format + read/write helpers
  docs/specs/stories.md
  lib/testenvs.sh
  tests/unit/test_testenvs_state.bats
Due: Library Code

M.h.2: [Testenv-DX] 'migrate_legacy_testenv_layout' helper
  docs/specs/stories.md
  lib/testenvs.sh
  tests/unit/test_testenvs_migration.bats
Due: Library Code

M.h.3: [Testenv-DX] Activate the new layout — wire migration, sweep consumers
  docs/specs/stories.md
  lib/commands/check.sh
  lib/commands/init.sh
  lib/commands/purge.sh
  lib/commands/status.sh
  lib/commands/test.sh
  lib/commands/testenv.sh
  lib/commands/update.sh
  lib/testenvs.sh
  lib/utils.sh
  tests/unit/test_status.bats
  tests/unit/test_test_command.bats
  tests/unit/test_testenvs_activate.bats
  tests/unit/test_utils.bats
Due: Library Code

M.h.4: [Testenv-DX] Docs sweep — testenv layout, '.state' schema, migration mechanism
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_testenv.py
  tests/integration/test_venv_workflow.py
Due: none

M.i.1: [Testenv-DX] Name-aware 'ensure_testenv_exists' + validation gate + conda stub
  docs/specs/stories.md
  lib/testenvs.sh
  lib/utils.sh
  tests/unit/test_testenv_name_aware.bats
Due: Library Code

M.i.2: [Testenv-DX] 'testenv init [<name>]' + 'testenv run [<name>] -- <cmd>'
  docs/specs/stories.md
  lib/commands/testenv.sh
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_testenv_run_name.bats
Due: Library Code

M.i.3: [Testenv-DX] 'testenv install [<name>] [-r …]' — with-arg + no-arg iteration
  docs/specs/stories.md
  lib/commands/testenv.sh
  tests/unit/test_testenv_install_name.bats
Due: Library Code

M.i.4: [Testenv-DX] 'testenv purge [<name>] [--force]' — with-arg + no-arg iteration with confirm
  docs/specs/stories.md
  lib/commands/testenv.sh
  lib/utils.sh
  tests/unit/test_testenv_purge_name.bats
Due: Library Code

M.j: [Testenv-DX] Per-env install lock ('.pyve/testenvs/<name>/.lock')
  docs/specs/stories.md
  lib/commands/testenv.sh
  tests/unit/test_testenv_install_lock.bats
Due: Library Code

M.k: [Testenv-DX] Conda-backed testenv plumbing ('backend = 'micromamba'')
  docs/specs/pyve-environment-dependencies-template.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/testenv.sh
  lib/testenvs.sh
  lib/utils.sh
  tests/integration/test_subcommand_cli.py
  tests/integration/test_testenv.py
  tests/unit/test_testenv_conda.bats
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_run_name.bats
Due: Library Code

M.l: [Testenv-DX] venv manifest sources — 'requirements' and 'extra'
  docs/specs/pyve-environment-dependencies-prompt.md
  docs/specs/pyve-environment-dependencies-repo_gitbetter.md
  docs/specs/pyve-environment-dependencies-template.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/testenv.sh
  lib/pyve_testenvs_helper.py
  tests/unit/test_testenv_conda.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_venv_manifest.bats
Due: Library Code

M.m: [Testenv-DX] 'pyve test --env <name>' resolver extension
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  lib/utils.sh
  tests/unit/test_test_env_resolver.bats
Due: Library Code

M.n: [Testenv-DX] Lazy provisioning ('lazy = true')
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenv_install_name.bats
Due: Library Code

M.o: [Testenv-DX] Silent-skip advisory generalization (all named envs)
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/commands/test.sh
  tests/unit/test_test_command.bats
  tests/unit/test_test_env_advisory.bats
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_resolver.bats
Due: Library Code

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
