Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

P.p: 'pyve upgrade' verb — re-resolve deps, keep the env, restore state
  docs/site/usage.md
  docs/specs/stories.md
  lib/commands/upgrade.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_upgrade.bats
Due: Library Code, Core Script

P.q: 'pyve env purge' no-arg consistency fix (default env, not sweep-all)
  docs/site/usage.md
  docs/specs/stories.md
  lib/commands/env.sh
  tests/unit/test_testenv_purge_name.bats
Due: Library Code

P.r: CLI output still teaches deprecated 'pyve testenv' spellings — sweep fresh user-facing suggestions to 'pyve env'
  docs/specs/stories.md
  lib/commands/env.sh
  lib/plugins/python/plugin.sh
  tests/integration/test_init_next_steps.py
  tests/unit/test_init_next_steps.bats
  tests/unit/test_test_env_lazy_autoprovision.bats
  tests/unit/test_test_env_resolver.bats
Due: Library Code

P.s: End-of-Phase P Public Documentation
  .project-guide.yml
  README_old.md
  docs/site/backends.md
  docs/site/environments.md
  docs/site/getting-started.md
  docs/site/index_old.html
  docs/site/migration.md
  docs/site/pyve-toml.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/brand-descriptions.md
  docs/specs/brand-descriptions_old.md
  docs/specs/stories.md
  mkdocs.yml
Due: none

P.t: Finalize the Reference documentation — split 'usage.md' into per-command reference pages
  docs/site/getting-started.md
  docs/site/reference/diagnostics.md
  docs/site/reference/env.md
  docs/site/reference/lifecycle.md
  docs/site/reference/tooling.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/stories.md
  mkdocs.yml
Due: none

P.u: Tag release v3.1.0 and validate in production
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

N.bu.1: Homebrew formula release readiness, round 2 (#49)
  .github/workflows/update-homebrew.yml
  docs/specs/stories.md
Due: none

N.bu.2: Homebrew formula release readiness, round 3 (#50)
  .github/workflows/update-homebrew.yml
  docs/specs/stories.md
Due: none

v3.0.6 housekeeping and fixes (#57)
  docs/site/environments.md
  docs/specs/env-lifecycle-concept.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/env.sh
  lib/commands/lock.sh
  lib/commands/self.sh
  lib/envs.sh
  lib/plugins/python/plugin.sh
  lib/project_guide.sh
  lib/ui/core.sh
  pyve.sh
  tests/unit/test_check.bats
  tests/unit/test_conda_env_exec.bats
  tests/unit/test_conda_pip_layer.bats
  tests/unit/test_env_dispatcher.bats
  tests/unit/test_env_name_manifest_decl.bats
  tests/unit/test_env_v3_strings.bats
  tests/unit/test_init_none_root.bats
  tests/unit/test_oo1_inherit_mirror.bats
  tests/unit/test_oo2_init_gate.bats
  tests/unit/test_oo3_autowire.bats
  tests/unit/test_project_guide.bats
  tests/unit/test_state_layout.bats
  tests/unit/test_status.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_run_name.bats
  tests/unit/test_testenvs_activate.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

Subphase P-1 cleanup
  docs/specs/.archive/phase-p-subphase-1-spike-p-e-decision-graph.md
  docs/specs/.archive/phase-p-subphase-1-ux-overhaul.md
  docs/specs/.archive/stories-v3.1.0.md
  docs/specs/stories.md
Due: none

N.bv: 'brew upgrade' hangs silently in 'pyve self provision' — suppressed interactive prompt in the toolchain bootstrap (#52)
  docs/specs/stories.md
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

v3.0.4 bug fixes for v2 -> v3 migration + Phase N cleanup (#55)
  .gitignore
  .project-guide.yml
  .pyve/config
  CHANGELOG.md
  docs/specs/.archive/stories-v3.0.2.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/commands/self.sh
  lib/gitignore_composer.sh
  lib/toolchain_python.sh
  pyve.sh
  pyve.toml
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_venv_workflow.py
  tests/unit/test_gitignore_composer.bats
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_self_migrate.bats
  tests/unit/test_self_provision_status.bats
  tests/unit/test_update.bats
Due: Library Code, Core Script

v3.0.5 fix v2 to v3 migration (#56)
  CHANGELOG.md
  docs/specs/modelfoundry-env-dependencies.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/self.sh
  lib/envs.sh
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_init_wizard.bats
  tests/unit/test_main_micromamba_env_layout.bats
  tests/unit/test_self_migrate.bats
Due: Library Code, Core Script

P.a: v3.0.7 — 'pyve self install' ships every 'lib/' subtree (recursive copy), not a drifting allowlist + Python 3.14.6 default (#58)
  .envrc.prev
  .gitignore.prev
  .project-guide.yml
  .tool-versions
  docs/specs/.archive/stories-v3.0.5.md
  docs/specs/stories.md
  lib/commands/self.sh
  pyve.sh
  pyve.toml
  tests/unit/test_self_install.bats
Due: Library Code, Core Script

historical spec archeology (#51)
  docs/specs/.archive/design_decisions.md
  docs/specs/.archive/features_old.md
  docs/specs/.archive/micromamba_spec_2026-01-06.md
  docs/specs/.archive/project-guide-refactoring.md
  docs/specs/.archive/versions_spec_2025-12-17.md
  docs/specs/.archive/versions_spec_2026-01-05.md
  docs/specs/.archive/versions_spec_2026_01_09.md
  docs/specs/.archive/versions_spec_v0.7.md
  docs/specs/.archive/versions_spec_v1.1.3.md
Due: none

Pyve refresh/upgrade
  .gitignore.prev
  .tool-versions
Due: none

doc planning, updates (#62)
  .project-guide.yml
  docs/specs/concept.md
  docs/specs/features.md
  docs/specs/stories.md
Due: none

N.bx, N.by: v3.0.2 hotfix to v3.0.3, remove auto-self-provision from brew install (#54)
  docs/specs/stories.md
  lib/check_composer.sh
  lib/status_composer.sh
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

N.bw: v3.0.1 hotfix — 'fallback_ver' unbound variable aborts 'pyve self provision' on the interactive branch (#53)
  docs/specs/project-guide-requests/local-install-warning-readiness-gate.md
  docs/specs/stories.md
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_toolchain_python_lifecycle.bats
Due: Library Code, Core Script

P.v: Close the test-isolation leak — the integration suite can never mutate a real '$HOME'
  .project-guide.yml
  docs/specs/phase-p-subphase-2-runnability-heal-plan.md
  docs/specs/stories.md
  tests/helpers/home_guard.py
  tests/integration/conftest.py
  tests/integration/test_home_guard.py
  tests/integration/test_project_guide_integration.py
Due: none

P.w: silent-skip advisory's 'root' pytest probe is broken for a venv root + named envs (the standard v3 topology)
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_test_env_advisory.bats
Due: Library Code

P.x: A declarative 'pyve.toml' opt-out for the silent-skip advisory — project-scoped and visible, not a per-shell env var
  docs/site/environments.md
  docs/site/pyve-toml.md
  docs/site/testing.md
  docs/specs/phase-p-subphase-2-runnability-heal-plan.md
  docs/specs/stories.md
  lib/manifest.sh
  lib/plugins/python/plugin.sh
  lib/pyve_toml_helper.py
  tests/unit/test_manifest.bats
  tests/unit/test_test_env_advisory.bats
Due: Library Code

P.y: 'project-guide' status is split + v2-leftover — unify into one readout that names *how* it's present (local pip vs toolchain) + show its version (status & self provision)
  docs/specs/stories.md
  lib/commands/self.sh
  lib/plugins/python/plugin.sh
  lib/status_composer.sh
  tests/unit/test_project_guide_hosting.bats
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_status.bats
  tests/unit/test_status_backend_manifest.bats
Due: Library Code

P.z: Per-env runnability probe — plugins own a 'canary' command 'pyve check' executes (existence ≠ runnability)
  docs/specs/stories.md
  lib/envs.sh
  lib/plugins/contract.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_env_probe_canary.bats
  tests/unit/test_env_root_routing.bats
Due: Library Code

P.aa: Resolution reasoning in 'pyve check' — narrate where each managed command resolves and why
  docs/specs/phase-p-subphase-2-runnability-heal-plan.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/plugins/python/plugin.sh
  lib/resolution_reasoning.sh
  lib/utils.sh
  pyve.sh
  tests/unit/test_resolution_reasoning.bats
Due: Library Code, Core Script

P.ab.1: Healing mechanism, part 1 — 'pyve check --fix' surface, plan-then-confirm engine, non-destructive repairs
  docs/specs/phase-p-subphase-2-runnability-heal-plan.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/heal.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_check_fix.bats
Due: Library Code, Core Script

P.ab.2: Healing mechanism, part 2 — destructive tier (env rebuilds, orphan removal), resume, site docs
  docs/site/reference/diagnostics.md
  docs/site/usage.md
  docs/specs/stories.md
  lib/heal.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_check_fix.bats
Due: Library Code

P.ac: Integration spike — Pyve's first network touchpoint: bounded latest-version lookup (PyPI + Homebrew tap), cache, offline degrade
  docs/specs/phase-p-subphase-2-runnability-heal-plan.md
  docs/specs/stories.md
Due: none

P.ad: 'pyve check' surfaces available updates for the hosted tools and pyve itself
  docs/site/usage.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/plugins/python/plugin.sh
  lib/staleness.sh
  pyve.sh
  tests/unit/test_check_staleness.bats
Due: Library Code, Core Script

P.ae: Subphase P-2 documentation sweep
  CHANGELOG.md
  docs/site/reference/diagnostics.md
  docs/specs/stories.md
Due: none

P.ae.1: Bounded-probe watchdog leaks an orphaned 'sleep' per call — the fork-pressure feeder behind the macOS CI flake
  .project-guide.yml
  CHANGELOG.md
  docs/site/usage.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/helpers/test_helper.bash
  tests/unit/test_env_probe_canary.bats
  tests/unit/test_resolution_reasoning.bats
Due: Library Code, Core Script

Subphase P-2: Runnability probes & environment healing (v3.2.0) (#65)
  .project-guide.yml
  CHANGELOG.md
  docs/site/environments.md
  docs/site/pyve-toml.md
  docs/site/reference/diagnostics.md
  docs/site/testing.md
  docs/site/usage.md
  docs/specs/phase-p-subphase-2-runnability-heal-plan.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/commands/self.sh
  lib/envs.sh
  lib/heal.sh
  lib/manifest.sh
  lib/plugins/contract.sh
  lib/plugins/python/plugin.sh
  lib/pyve_toml_helper.py
  lib/resolution_reasoning.sh
  lib/staleness.sh
  lib/status_composer.sh
  lib/utils.sh
  pyve.sh
  tests/helpers/home_guard.py
  tests/helpers/test_helper.bash
  tests/integration/conftest.py
  tests/integration/test_home_guard.py
  tests/integration/test_project_guide_integration.py
  tests/unit/test_check_fix.bats
  tests/unit/test_check_staleness.bats
  tests/unit/test_env_probe_canary.bats
  tests/unit/test_env_root_routing.bats
  tests/unit/test_manifest.bats
  tests/unit/test_project_guide_hosting.bats
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_resolution_reasoning.bats
  tests/unit/test_status.bats
  tests/unit/test_status_backend_manifest.bats
  tests/unit/test_test_env_advisory.bats
Due: Library Code, Core Script

Story P.af.1: v3.2.1 — a toolchain slot must hold the Python its name promises (strict provisioning, bounded probe, truthful report)
  docs/specs/stories.md
  lib/check_composer.sh
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_toolchain_python.bats
  tests/unit/test_toolchain_python_lifecycle.bats
  tests/unit/test_toolchain_version_fidelity.bats
Due: Library Code, Core Script

P.af.2: Strict provisioning vs. the P.v sandbox — re-pin the default instead of refusing forever
  CHANGELOG.md
  docs/site/usage.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_project_guide_integration.py
  tests/unit/test_check_fix.bats
  tests/unit/test_toolchain_version_fidelity.bats
Due: Core Script

Bugfix toolchain provisioning problem on stale local Python venv (#66)
  CHANGELOG.md
  docs/site/usage.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/toolchain_python.sh
  pyve.sh
  tests/integration/test_project_guide_integration.py
  tests/unit/test_check_fix.bats
  tests/unit/test_pyve_hosting_diagnostic.bats
  tests/unit/test_toolchain_python.bats
  tests/unit/test_toolchain_python_lifecycle.bats
  tests/unit/test_toolchain_version_fidelity.bats
Due: Library Code, Core Script

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
