Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
    
    changes:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  integration-ubuntu-latest-py3.10:
    carryforward: true
  integration-ubuntu-latest-py3.11:
    carryforward: true
  integration-ubuntu-latest-py3.12:
    carryforward: true
  integration-macos-latest-py3.10:
    carryforward: true
  integration-macos-latest-py3.11:
    carryforward: true
  integration-macos-latest-py3.12:
    carryforward: true
  micromamba-ubuntu-latest-py3.11:
    carryforward: true
  micromamba-macos-latest-py3.11:
    carryforward: true

ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "*.md"
  - ".github/**/*"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: lib
      name: Library Code
      paths:
        - lib/**/*.sh
    - component_id: core
      name: Core Script
      paths:
        - pyve.sh

N.s.10: Update tech-spec.md for the plugin architecture
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

N.s.11: Update features.md for the v3 env model
  docs/specs/features.md
  docs/specs/stories.md
Due: none

N.s.12: Update brand-descriptions.md for v3.0
  docs/specs/brand-descriptions.md
  docs/specs/stories.md
Due: none

N.u: Node backend-providers — 'pnpm', 'npm', 'yarn'
  docs/specs/stories.md
  lib/plugins/node/plugin.sh
  tests/unit/test_n_t_node_plugin.bats
  tests/unit/test_n_u_node_backend_providers.bats
Due: Library Code

N.v: Node runtime-resolution helpers (nvm / fnm / volta + PATH fallback)
  docs/specs/stories.md
  lib/plugins/node/runtime_detect.sh
  pyve.sh
  tests/unit/test_n_v_node_runtime_detect.bats
Due: Library Code, Core Script

N.w: Node plugin — init / purge / update hooks
  docs/specs/stories.md
  lib/plugins/node/plugin.sh
  tests/unit/test_n_w_node_plugin_lifecycle.bats
Due: Library Code

N.x: Node plugin — check / status / run / test hooks (test → 'package.json' 'test' script)
  docs/specs/stories.md
  lib/plugins/node/plugin.sh
  tests/unit/test_n_x_node_plugin_runtime.bats
Due: Library Code

N.y: Node plugin — activation hook ('.envrc' emission with 'node_modules/.bin' PATH_add)
  docs/specs/stories.md
  lib/plugins/node/plugin.sh
  tests/unit/test_n_y_node_plugin_activate.bats
Due: Library Code

N.z: Node plugin — '.gitignore' + smart-purge hooks
  docs/specs/stories.md
  lib/plugins/node/plugin.sh
  tests/unit/test_n_z_node_plugin_gitignore_purge.bats
Due: Library Code

N.aa: SvelteKit detection + 'frameworks' attribute support
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  lib/plugins/node/plugin.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_n_aa_node_sveltekit.bats
Due: Library Code

N.ab.1: Node-at-root fixture — hook-level lifecycle drive
  docs/specs/stories.md
  tests/unit/test_n_ab_1_node_root_e2e.bats
Due: none

N.ab.2: Polyglot Python+Node fixture — independent hook firing
  docs/specs/stories.md
  tests/unit/test_n_ab_2_polyglot_e2e.bats
Due: none

N.ab.3: Composed '.envrc' non-interference + visitor-path activation
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  tests/unit/test_n_ab_3_composed_envrc.bats
Due: none

N.ab.4: Spike S10 update + contract-holes synthesis
  docs/specs/phase-n-2-spike-env-model-worked-examples.md
  docs/specs/stories.md
Due: none

N.ac: Doc updates — Node plugin section in tech-spec.md / features.md
  docs/specs/brand-descriptions.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

Subphase N-4 planning
  docs/specs/stories.md
Due: none

N.ad: Polyglot 'pyve init' scaffold (closes N-3 root-collision hole)
  .pyve/testenvs/testenv/.state
  docs/specs/features.md
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/integration/test_node_detection.py
  tests/unit/test_n_aa_node_sveltekit.bats
  tests/unit/test_n_ad_polyglot_scaffold.bats
  tests/unit/test_n_t_node_plugin.bats
Due: Library Code

Story N.ae broken into a story bundle
  docs/specs/spike-n-ae-envrc-composer-contract.md
  docs/specs/stories.md
Due: none

N.ae.1, N.ae.2: Integration spike — envrc-composer ↔ activate contract + Activate-contract unification — Python 'activate' → snippet emitter
  .pyve/testenvs/testenv/.state
  docs/specs/spike-n-ae-envrc-composer-contract.md
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_n_ae_2_python_activate_emitter.bats
  tests/unit/test_n_q_python_plugin_activate.bats
Due: Library Code

N.ae.3: 'compose_envrc' body assembly + PC-1 validation
  docs/specs/stories.md
  lib/envrc_composer.sh
  pyve.sh
  tests/unit/test_n_ae_3_envrc_composer.bats
Due: Library Code, Core Script

N.ae.4: PC-2 write safety — atomic write, '.envrc.prev', user-content preservation
  docs/specs/stories.md
  lib/envrc_composer.sh
  tests/unit/test_n_ae_4_compose_envrc_write.bats
Due: Library Code

N.ae.5: Init/update rewiring — retire direct '.envrc' callsites
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  lib/envrc_composer.sh
  lib/plugins/python/plugin.sh
  tests/integration/test_envrc_composition.py
  tests/unit/test_n_ae_5_compose_project_wiring.bats
  tests/unit/test_update.bats
Due: Library Code

N.ae.6: 'prompt_yes_no' EOF-safety — non-interactive hang fix
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  lib/utils.sh
  tests/integration/test_envrc_composition.py
  tests/unit/test_n_ae_6_prompt_eof.bats
Due: Library Code

N.af: Composed '.gitignore' self-heal across plugins
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  lib/gitignore_composer.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/integration/test_envrc_composition.py
  tests/unit/test_n_af_gitignore_composer.bats
  tests/unit/test_update.bats
Due: Library Code, Core Script

N.ag: Composed 'pyve check' with severity roll-up
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  lib/check_composer.sh
  lib/plugins/python/plugin.sh
  pyve.sh
  tests/unit/test_check.bats
  tests/unit/test_n_ag_compose_check.bats
Due: Library Code, Core Script

N.ah: Composed 'pyve status' aggregation
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/status_composer.sh
  pyve.sh
  tests/unit/test_n_ah_compose_status.bats
Due: Library Code, Core Script

N.ai: Composed 'pyve purge' with composed inventory
  .claude/scheduled_tasks.lock
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/purge_composer.sh
  pyve.sh
  tests/unit/test_n_ai_compose_purge.bats
Due: Library Code, Core Script

N.aj: PC-4a — no-Python noise suppression on Node-only projects
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/check_composer.sh
  lib/plugins/python/plugin.sh
  lib/status_composer.sh
  tests/unit/test_n_aj_python_active_gate.bats
Due: Library Code

N.ak: PC-4b — per-plugin latency budget (≤ 50ms p95)
  Makefile
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/envrc_composer.sh
  tests/perf/test_plugin_activation_latency.bats
Due: Library Code

N.al: Retire the pre-composer template writers + their now-stale tests
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/utils.sh
  tests/helpers/test_helper.bash
  tests/unit/test_asdf_compat.bats
  tests/unit/test_envrc_template.bats
  tests/unit/test_n_ae_3_envrc_composer.bats
  tests/unit/test_n_al_retired_writers.bats
  tests/unit/test_n_l_backend_dispatch_envrc.bats
  tests/unit/test_n_n_python_plugin.bats
  tests/unit/test_n_q_python_plugin_activate.bats
  tests/unit/test_n_r_python_plugin_gitignore_purge.bats
  tests/unit/test_testenvs_activate.bats
  tests/unit/test_utils.bats
Due: Library Code

N.am: End-to-end regression sweep — polyglot test matrix
  .claude/scheduled_tasks.lock
  .pyve/testenvs/testenv/.state
  docs/specs/stories.md
  tests/integration/test_envrc_composition.py
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_reinit.py
  tests/integration/test_venv_workflow.py
  tests/unit/test_n_am_polyglot_matrix.bats
Due: none

N.an: Doc updates — composition layer in tech-spec.md / features.md
  docs/specs/brand-descriptions.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
Due: none

architecture, planning, and Subphase N-5 story breakdown
  .project-guide.yml
  docs/specs/env-dependencies-prompt.md
  docs/specs/phase-n-2-spike-env-model-worked-examples.md
  docs/specs/phase-n-framework-plugin-architecture.md
  docs/specs/phase-n-plugin-architecture-named-envs-plan.md
  docs/specs/project-essentials.md
  docs/specs/project-guide-requests/env-dependencies-prompt.md
  docs/specs/project-guide-requests/env-dependencies-repo_gitbetter.md
  docs/specs/project-guide-requests/env-dependencies-template.md
  docs/specs/project-guide-requests/wizard-env-contract.md
  docs/specs/spike-n-ao-project-guide-provisioning.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/manifest.sh
  tests/unit/test_n_f_state_layout.bats
  tests/unit/test_n_i_read_compat.bats
Due: Library Code

N.ar: 'pyve package [--env <name>]' verb — reserved-verb behavior
  docs/specs/stories.md
  lib/commands/package.sh
  lib/completion/_pyve
  lib/completion/pyve.bash
  pyve.sh
  tests/unit/test_completion_bash.bats
  tests/unit/test_n_ar_package.bats
Due: Library Code, Core Script

N.as: Document 'pyve package' — features.md + reserved-verb semantics
  docs/specs/features.md
  docs/specs/stories.md
Due: none

Subphase N-6 planning
  docs/specs/stories.md
Due: none

N.at: Integration spike — composed-init seam across stacks
  docs/specs/spike-n-at-composed-init-seam.md
  docs/specs/stories.md
Due: none

N.at.1: Toolchain-venv resolver + provisioning core
  docs/specs/stories.md
  lib/toolchain_python.sh
  pyve.sh
  tests/unit/test_n_at_1_toolchain_python.bats
Due: Library Code, Core Script

N.at.2: Rewire Pyve-internal callsites to the resolver
  .claude/scheduled_tasks.lock
  docs/specs/stories.md
  lib/commands/env.sh
  lib/env_detect.sh
  lib/envs.sh
  lib/manifest.sh
  tests/helpers/test_helper.bash
  tests/unit/test_n_at_2_resolver_rewire.bats
Due: Library Code
