Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
    
    changes:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  integration-ubuntu-latest-py3.10:
    carryforward: true
  integration-ubuntu-latest-py3.11:
    carryforward: true
  integration-ubuntu-latest-py3.12:
    carryforward: true
  integration-macos-latest-py3.10:
    carryforward: true
  integration-macos-latest-py3.11:
    carryforward: true
  integration-macos-latest-py3.12:
    carryforward: true
  micromamba-ubuntu-latest-py3.11:
    carryforward: true
  micromamba-macos-latest-py3.11:
    carryforward: true

ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "*.md"
  - ".github/**/*"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: lib
      name: Library Code
      paths:
        - lib/**/*.sh
    - component_id: core
      name: Core Script
      paths:
        - pyve.sh

v1.14.2 Add Python 3.14 to Integration Matrix (setup-python → pyenv symlink shim)
  .github/workflows/test.yml
  CHANGELOG.md
  docs/specs/features.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

v1.15.0 Port 'lib/ui.sh'
  CHANGELOG.md
  docs/specs/phase-H-check-status-design.md
  docs/specs/phase-H-cli-refactor-design.md
  docs/specs/stories.md
  lib/ui.sh
  pyve.sh
  tests/unit/test_ui.bats
Due: Library Code, Core Script

v1.16.1 Bug fix — '.pyve/envs/' not ignored on venv-init'd projects
  CHANGELOG.md
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_update.bats
  tests/unit/test_utils.bats
Due: Library Code, Core Script

Phase H: CLI Unification and Bootstrap Hardening (#24) - pre 2.0
  .github/workflows/test.yml
  CHANGELOG.md
  docs/project-guide/developer/best-practices-guide.md
  docs/project-guide/go.md
  docs/specs/.archive/phase-g-project-guide-no-input-spec.md
  docs/specs/.archive/phase-g-ux-improvements-plan.md
  docs/specs/bootstrap-stories.md
  docs/specs/features.md
  docs/specs/phase-H-check-status-design.md
  docs/specs/phase-H-cli-refactor-design.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/ui.sh
  lib/utils.sh
  pyve.sh
  tests/unit/test_project_guide.bats
  tests/unit/test_ui.bats
  tests/unit/test_update.bats
  tests/unit/test_utils.bats
Due: Library Code, Core Script

H.e.3: v1.17.0 Implement 'pyve check' command
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

H.e.4: v1.18.0 Implement 'pyve status' command
  CHANGELOG.md
  LICENSE
  README.md
  docs/project-guide/go.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/distutils_shim.sh
  lib/env_detect.sh
  lib/micromamba_bootstrap.sh
  lib/micromamba_core.sh
  lib/micromamba_env.sh
  lib/ui.sh
  lib/utils.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/conftest.py
  tests/integration/test_auto_detection.py
  tests/integration/test_bootstrap.py
  tests/integration/test_cross_platform.py
  tests/integration/test_doctor.py
  tests/integration/test_force_ambiguous_prompt.py
  tests/integration/test_force_backend_detection.py
  tests/integration/test_lock_command.py
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_pip_upgrade.py
  tests/integration/test_project_guide_integration.py
  tests/integration/test_reinit.py
  tests/integration/test_run_command.py
  tests/integration/test_subcommand_cli.py
  tests/integration/test_testenv.py
  tests/integration/test_validate.py
  tests/integration/test_venv_workflow.py
  tests/unit/test_check.bats
  tests/unit/test_status.bats
  tests/unit/test_ui.bats
  tests/unit/test_update.bats
Due: Library Code, Core Script

v1.19.0 Normalize 'testenv' subcommand grammar
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_testenv_grammar.bats
Due: Core Script

v1.20.0 Implement 'pyve python set' / 'pyve python show'; v1.20.1 Bug fix — flaky 'testenv grammar' equivalence test and BW01 warning
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/developer/best-practices-guide.md
  docs/project-guide/go.md
  docs/project-guide/templates/artifacts/project-essentials.md
  docs/project-guide/templates/artifacts/pyve-essentials.md
  docs/project-guide/templates/modes/_header-common.md
  docs/project-guide/templates/modes/plan-tech-spec-mode.md
  docs/project-guide/templates/modes/refactor-plan-mode.md
  docs/project-guide/templates/modes/scaffold-project-mode.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_distutils_shim.bats
  tests/unit/test_python_command.bats
  tests/unit/test_testenv_grammar.bats
Due: Core Script

Deprecation warnings for 'testenv' flag forms and 'python-version'
  .project-guide.yml
  .tool-versions
  docs/project-guide/go.md
  docs/specs/stories.md
  lib/ui.sh
  pyve.sh
  tests/unit/test_deprecation_warnings.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

Bug fix — bash 3.2 compatibility in 'deprecation_warn'
  .pyve/config
  docs/specs/stories.md
  lib/ui.sh
  tests/unit/test_ui.bats
Due: Library Code

Delegate-with-warning for 'pyve doctor' and 'pyve validate' → 'pyve check'
  docs/specs/pyve-asdf-reshim-bug-brief.md
  docs/specs/stories.md
  lib/ui.sh
  lib/version.sh
  pyve.sh
  tests/unit/test_doctor_validate_delegation.bats
  tests/unit/test_subcommand_help.bats
  tests/unit/test_ui.bats
Due: Library Code, Core Script

Rip out 'pyve doctor' and 'pyve validate' entirely
  docs/specs/stories.md
  lib/ui.sh
  lib/version.sh
  pyve.sh
  tests/integration/test_doctor.py
  tests/integration/test_validate.py
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_doctor_validate_delegation.bats
  tests/unit/test_doctor_validate_removed.bats
  tests/unit/test_subcommand_help.bats
  tests/unit/test_ui.bats
  tests/unit/test_version.bats
Due: Library Code, Core Script

Test cleanup fallout — remaining 'pyve.doctor()' / 'pyve.run(validate)' callers
  docs/specs/stories.md
  docs/specs/testing-spec.md
  tests/README.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_subcommand_cli.py
  tests/integration/test_venv_workflow.py
Due: none

v2.0.0 Breaking Cut — legacy-flag extensions, CHANGELOG, migration guide, version bump
  CHANGELOG.md
  docs/site/migration.md
  docs/specs/phase-H-cli-refactor-design.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_cli_dispatch.bats
Due: Core Script

Test cleanup fallout from v2.0.0 breaking cut (story H.e.9)
  docs/specs/stories.md
  tests/integration/test_pip_upgrade.py
  tests/integration/test_project_guide_integration.py
  tests/integration/test_reinit.py
Due: none

Retarget '--python-version' legacy-flag catch to 'pyve python set'
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_cli_dispatch.bats
Due: Core Script

'python set' command, shell completion, other improvements, docs rewrite
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/completion/_pyve
  lib/completion/pyve.bash
  lib/ui.sh
  pyve.sh
  tests/unit/test_completion_bash.bats
  tests/unit/test_ui.bats
  tests/unit/test_unknown_flag.bats
Due: Library Code, Core Script

Bug fix — bash 3.2 compatibility in 'lib/completion/pyve.bash'
  docs/specs/stories.md
  lib/completion/pyve.bash
  tests/unit/test_completion_bash.bats
Due: none

Bug fix — 'mkdocs build --strict' fails on cross-'docs_dir' links in 'migration.md'
  .gitignore
  .project-guide.yml
  docs/project-guide/go.md
  docs/site/migration.md
  docs/specs/stories.md
  mkdocs.yml
Due: none

Bug fix — 'mkdocs build --strict' fails on cross-'docs_dir' links in 'migration.md' (#26)
  .gitignore
  .project-guide.yml
  docs/project-guide/go.md
  docs/site/migration.md
  docs/specs/stories.md
  mkdocs.yml
Due: none

Retrofit 'pyve init'
  .project-guide.yml
  docs/project-guide/go.md
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_init_ui.bats
Due: Core Script

Retrofit 'pyve purge'
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_init_ui.bats
  tests/unit/test_purge_ui.bats
Due: Core Script

Retrofit Legacy 'testenv' and 'python-version' Subcommands
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_python_ui.bats
  tests/unit/test_testenv_ui.bats
Due: Core Script

Error Path Consistency Sweep + NO_COLOR Audit
  docs/specs/stories.md
  lib/utils.sh
  tests/unit/test_error_ui.bats
  tests/unit/test_utils.bats
Due: Library Code

fix testenv assertion
  tests/integration/test_testenv.py
Due: none

v2.0.1 Release Wrap — Captures, Specs, CHANGELOG, Version Bump
  CHANGELOG.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  docs/specs/ux-retrofit-before-after/README.md
  pyve.sh
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_release_v2_0_1.bats
Due: Core Script

Bug fix — 'pyve init --backend micromamba' fails silently when 'environment.yml' is absent
  docs/specs/stories.md
  lib/micromamba_env.sh
  tests/unit/test_lock_validation.bats
Due: Library Code

Feature — 'pyve init --backend micromamba' scaffolds a starter 'environment.yml'
  CHANGELOG.md
  docs/site/getting-started.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  lib/micromamba_env.sh
  pyve.sh
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_scaffold_environment_yml.bats
Due: Library Code, Core Script

bugfix test_init_without_environment_yml
  docs/specs/stories.md
  tests/integration/test_micromamba_workflow.py
Due: none

v2.1.0 Retrofit Remaining Commands to Unified UX (#27)
  .project-guide.yml
  CHANGELOG.md
  docs/project-guide/go.md
  docs/site/getting-started.md
  docs/site/usage.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech-spec.md
  docs/specs/ux-retrofit-before-after/README.md
  lib/micromamba_env.sh
  lib/utils.sh
  pyve.sh
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_testenv.py
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_error_ui.bats
  tests/unit/test_init_ui.bats
  tests/unit/test_lock_validation.bats
  tests/unit/test_purge_ui.bats
  tests/unit/test_python_ui.bats
  tests/unit/test_release_v2_0_1.bats
  tests/unit/test_scaffold_environment_yml.bats
  tests/unit/test_testenv_ui.bats
  tests/unit/test_utils.bats
Due: Library Code, Core Script

Reconcile Bootstrap Test Fixtures and Activate Core Bootstrap Tests
  .claude/scheduled_tasks.lock
  docs/specs/phase-J-environment-compatibility-plan.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_bootstrap.py
  tests/integration/test_helpers.py
Due: none

Activate Bootstrap Error Handling Tests
  docs/specs/stories.md
  tests/integration/test_bootstrap.py
Due: none

Activate Bootstrap Configuration Tests and Fix bz2 Tarball Extraction in Bootstrap
  docs/specs/stories.md
  lib/micromamba_bootstrap.sh
  tests/integration/test_bootstrap.py
  tests/unit/test_micromamba_bootstrap.bats
Due: Library Code

Remove Stale Bootstrap Skip from Micromamba Workflow
  docs/specs/stories.md
  tests/integration/test_micromamba_workflow.py
Due: none

Add Bootstrap CI Job
  .github/workflows/test.yml
  docs/specs/stories.md
Due: none

v2.2.0 Phase I Release Wrap
  CHANGELOG.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_bootstrap.py
  tests/unit/test_cli_dispatch.bats
Due: Core Script

Phase I: Bootstrap Test Activation and Hardening (micromamba) (#28)
  .claude/scheduled_tasks.lock
  .github/workflows/test.yml
  CHANGELOG.md
  docs/specs/phase-J-environment-compatibility-plan.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/micromamba_bootstrap.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_bootstrap.py
  tests/integration/test_helpers.py
  tests/integration/test_micromamba_workflow.py
  tests/unit/test_cli_dispatch.bats
  tests/unit/test_micromamba_bootstrap.bats
Due: Library Code, Core Script

Extend 'bash-coverage' CI to Micromamba Integration Tests
  .github/workflows/test.yml
  docs/specs/stories.md
Due: none

Add 'test_env_detect.bats'
  docs/specs/stories.md
  tests/unit/test_env_detect.bats
Due: none
