Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

P.g.2: Wizard rewrite (1/3) — extract the three prompt bodies into '_init_prompt_*' functions
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
Due: Library Code

P.g.3: Wizard rewrite (2/3) — drive the prompts from the graph (node-order render-dispatch walk)
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/helpers/test_helper.bash
  tests/unit/test_init_param_graph.bats
Due: Library Code

P.g.4: Wizard rewrite (3/3) — finalize the graph-driven wizard
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
Due: Library Code

P.g.5: Make the graph the live single-source of parameter defaults + drift-guard the parser
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_init_param_graph.bats
Due: Library Code

P.g.6: Bugfixes surfaced during the P.g wizard/keystone work
  .github/workflows/test.yml
  docs/specs/stories.md
  tests/helpers/test_helper.bash
Due: none

P.h: Plugin contract — parameter/wizard contribution hook
  docs/specs/stories.md
  lib/plugins/contract.sh
  lib/plugins/node/plugin.sh
  lib/plugins/python/plugin.sh
  lib/plugins/registry.sh
  tests/unit/test_plugin_param_contribution.bats
Due: Library Code

P.i.1: Write the resolved backend into 'pyve.toml [env.root]' + fix the '--force' reinit gate on v3 projects
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/pyve_manifest_write.py
  tests/integration/test_reinit.py
  tests/unit/test_init_manifest_backend.bats
Due: Library Code

P.i.2: Migrate 'pyve status''s backend reads onto the manifest
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_status_backend_manifest.bats
Due: Library Code

P.i.3: Remaining pure 'backend' runtime reads ('activate' hook, 'pyve update''s init-guard backend read)
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/unit/test_activate_backend_manifest.bats
  tests/unit/test_update.bats
Due: Library Code

P.i.4: 'lock/update/env' presence gates → manifest-aware presence (control-flow-sensitive)
  docs/specs/stories.md
  lib/commands/lock.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_activate_backend_manifest.bats
  tests/unit/test_lock_backend_manifest.bats
  tests/unit/test_update.bats
Due: Library Code

P.i.5: 'micromamba.env_name' reads → v3 source ('environment.yml' metadata / resolve helpers)
  docs/specs/stories.md
  lib/commands/lock.sh
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_activate_backend_manifest.bats
  tests/unit/test_lock_backend_manifest.bats
  tests/unit/test_resolve_micromamba_env_name.bats
  tests/unit/test_status_micromamba_env_name.bats
  tests/unit/test_update.bats
Due: Library Code

P.i.6: 'venv.directory' reads → v3 source ('resolve_env_path' / default)
  docs/specs/stories.md
  lib/gitignore_composer.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  lib/version.sh
  tests/unit/test_resolve_venv_directory.bats
Due: Library Code

P.i.7: 'python.version' reads → '.tool-versions' / '.python-version'
  docs/specs/stories.md
  lib/env_detect.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_resolve_python_version.bats
Due: Library Code

P.i.8: Stop writing '.pyve/config'
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/version.sh
  tests/integration/test_force_ambiguous_prompt.py
  tests/integration/test_force_backend_detection.py
  tests/integration/test_reinit.py
  tests/integration/test_subcommand_cli.py
  tests/unit/test_reinit.bats
  tests/unit/test_stop_writing_config.bats
  tests/unit/test_version.bats
Due: Library Code

P.i.9: Remove the transitional 'backend' fallbacks + the Priority-2 config tier
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/commands/lock.sh
  lib/envs.sh
  lib/plugins/python/plugin.sh
  lib/version.sh
  tests/unit/test_activate_backend_manifest.bats
  tests/unit/test_backend_detect.bats
  tests/unit/test_backend_fallback_removal.bats
  tests/unit/test_lock_backend_manifest.bats
  tests/unit/test_main_micromamba_env_layout.bats
  tests/unit/test_python_activate_emitter.bats
  tests/unit/test_python_plugin_activate.bats
  tests/unit/test_run_backend_detection.bats
  tests/unit/test_testenv_conda.bats
  tests/unit/test_version.bats
Due: Library Code

P.i.10: Remove the resolver '.pyve/config' config-branches
  docs/specs/stories.md
  lib/env_detect.sh
  lib/envs.sh
  lib/micromamba_env.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  tests/unit/test_env_naming.bats
  tests/unit/test_python_activate_emitter.bats
  tests/unit/test_python_command.bats
  tests/unit/test_resolve_micromamba_env_name.bats
  tests/unit/test_resolve_python_version.bats
  tests/unit/test_resolve_venv_directory.bats
  tests/unit/test_resolver_config_branch_removal.bats
  tests/unit/test_run_backend_detection.bats
  tests/unit/test_version.bats
Due: Library Code

P.i.11: Remove 'pyve_version' reads, 'validate_config_file', and 'update_config_version'
  docs/specs/stories.md
  lib/backend_detect.sh
  lib/plugins/python/plugin.sh
  lib/version.sh
  tests/unit/test_backend_detect.bats
  tests/unit/test_check.bats
  tests/unit/test_pyve_version_read_removal.bats
  tests/unit/test_reinit.bats
  tests/unit/test_status.bats
  tests/unit/test_stop_writing_config.bats
  tests/unit/test_update.bats
  tests/unit/test_version.bats
Due: Library Code

P.i.12: Remove the dead presence gates + 'pyve config''s config read
  docs/specs/stories.md
  lib/envs.sh
  lib/plugins/python/plugin.sh
  lib/version.sh
  pyve.sh
  tests/unit/test_backend_fallback_removal.bats
  tests/unit/test_presence_gate_removal.bats
  tests/unit/test_version.bats
Due: Library Code, Core Script

P.i.13: Remove the read-compat synthesis
  docs/specs/stories.md
  lib/envs.sh
  lib/manifest.sh
  lib/plugins/python/plugin.sh
  tests/helpers/test_helper.bash
  tests/unit/test_backend_fallback_removal.bats
  tests/unit/test_check.bats
  tests/unit/test_env_name_init_gate.bats
  tests/unit/test_env_name_manifest_decl.bats
  tests/unit/test_environment_yml_drift.bats
  tests/unit/test_init_manifest_backend.bats
  tests/unit/test_init_ui.bats
  tests/unit/test_init_wizard.bats
  tests/unit/test_lock_backend_manifest.bats
  tests/unit/test_main_micromamba_env_layout.bats
  tests/unit/test_presence_gate_removal.bats
  tests/unit/test_python_activate_emitter.bats
  tests/unit/test_python_plugin_activate.bats
  tests/unit/test_read_compat.bats
  tests/unit/test_run_backend_detection.bats
  tests/unit/test_status.bats
  tests/unit/test_status_backend_manifest.bats
  tests/unit/test_status_composer.bats
  tests/unit/test_synthesis_removal.bats
  tests/unit/test_test_env_resolver.bats
  tests/unit/test_testenv_conda.bats
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_testenv_install_name.bats
  tests/unit/test_testenv_name_aware.bats
  tests/unit/test_testenv_purge_name.bats
  tests/unit/test_testenv_run_name.bats
  tests/unit/test_testenv_venv_manifest.bats
  tests/unit/test_update.bats
Due: Library Code

P.i.14: project-essentials docs & wrap-up
  docs/specs/project-essentials.md
  docs/specs/stories.md
Due: none

P.i.15: Remove the v2 '.pyve/config' migration bridge — stub 'self migrate', drop the v2 banner + dead helpers
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/self.sh
  lib/envs.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  pyve.sh
  tests/unit/test_config_parse.bats
  tests/unit/test_reinit.bats
  tests/unit/test_self_migrate.bats
  tests/unit/test_utils.bats
  tests/unit/test_v2_banner.bats
Due: Library Code, Core Script

P.i.16: Sweep stale '.pyve/config' code comments (the final tidy)
  docs/specs/stories.md
  lib/envrc_composer.sh
  lib/envs.sh
  lib/init_composer.sh
  lib/plugins/python/plugin.sh
  lib/pyve_manifest_write.py
  lib/utils.sh
  tests/unit/test_config_comment_sweep.bats
Due: Library Code

P.i.17: Retire the vestigial custom-venv-dir positional (bugfix)
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  lib/purge_composer.sh
  pyve.sh
  tests/integration/test_auto_detection.py
  tests/integration/test_venv_workflow.py
  tests/unit/test_init_no_custom_venv_dir.bats
Due: Library Code, Core Script

P.j: Explicit-by-construction manifest + easy-mode wizard
  docs/specs/stories.md
  lib/plugins/python/plugin.sh
  tests/integration/test_venv_workflow.py
  tests/unit/test_init_explicit_manifest.bats
  tests/unit/test_init_manifest_backend.bats
  tests/unit/test_init_param_graph.bats
Due: Library Code

P.k: Versioned defaults + drift surfacing (never retroactive)
  docs/specs/stories.md
  lib/check_composer.sh
  lib/init_composer.sh
  lib/manifest.sh
  lib/param_graph.sh
  lib/plugins/python/plugin.sh
  lib/pyve_toml_helper.py
  tests/integration/test_venv_workflow.py
  tests/unit/test_check_defaults_drift.bats
  tests/unit/test_defaults_drift.bats
  tests/unit/test_init_explicit_manifest.bats
Due: Library Code

P.l.1: '--yes'/'--force' semantics sweep — one meaning each, across the destructive commands
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/env.sh
  lib/plugins/python/plugin.sh
  lib/purge_composer.sh
  lib/ui/core.sh
  tests/unit/test_env_dispatcher.bats
  tests/unit/test_force_yes_semantics.bats
Due: Library Code

P.l.2: Schema + readers — add the 'editable' directive, lift the source mutex, define directive order
  docs/specs/stories.md
  lib/manifest.sh
  lib/pyve_toml_helper.py
  tests/unit/test_env_directives.bats
  tests/unit/test_manifest.bats
Due: Library Code

P.l.3: venv materializer — compose the full directive recipe in one shot
  docs/specs/stories.md
  lib/commands/env.sh
  lib/envs.sh
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_venv_materializer.bats
Due: Library Code

P.l.4: conda/micromamba materializer — compose directives (manifest first, then pip layer)
  docs/specs/stories.md
  lib/commands/env.sh
  tests/unit/test_conda_materializer.bats
Due: Library Code

P.l.5: One-shot '--force' rebuild + 'pyve init --force' root-only scope
  docs/specs/stories.md
  lib/commands/env.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_env_init_force.bats
Due: Library Code

P.l.6: Uniform per-env repair — route each role to the right verb (no dead-ends)
  docs/specs/stories.md
  lib/commands/env.sh
  lib/envs.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_env_root_routing.bats
Due: Library Code

P.l.7: Migration verification + docs + project-essentials wrap-up
  docs/site/environments.md
  docs/site/pyve-toml.md
  docs/specs/project-essentials.md
  docs/specs/stories.md
  lib/commands/env.sh
  lib/envs.sh
  lib/manifest.sh
  lib/purge_composer.sh
  lib/pyve_toml_helper.py
  lib/ui/core.sh
  tests/unit/test_conda_materializer.bats
  tests/unit/test_env_directives.bats
  tests/unit/test_env_dispatcher.bats
  tests/unit/test_force_yes_semantics.bats
  tests/unit/test_manifest.bats
  tests/unit/test_testenv_init_name.bats
  tests/unit/test_venv_materializer.bats
Due: Library Code

P.l.8: Parallel unit suite — 'bats --jobs' in the Makefile (measured: ~4–6 min → 1:37)
  .github/workflows/test.yml
  Makefile
  docs/specs/stories.md
  scripts/run-unit-tests.sh
  tests/unit/test_run_unit_tests.bats
Due: none

P.l.10: Impact-map script — changed files → the test files that exercise them
  Makefile
  docs/specs/stories.md
  docs/specs/testing-spec.md
  scripts/run-unit-tests.sh
  scripts/test-impact.sh
  tests/unit/test_run_unit_tests.bats
  tests/unit/test_test_impact.bats
Due: none

P.l.11: Test-cadence change request to project-guide — targeted per task, full at the gate
  docs/specs/project-guide-requests/test-cadence-targeted-then-full.md
  docs/specs/stories.md
Due: none

P.l.12, P.m: CI hang fix — the runner suite recursed into the real suite on Linux; refuse re-entrancy, isolate the test PATH + Operational-state record — extend '.state' with an installed dimension
  docs/specs/stories.md
  lib/commands/env.sh
  lib/envs.sh
  lib/utils.sh
  scripts/run-unit-tests.sh
  tests/unit/test_run_unit_tests.bats
  tests/unit/test_state_installed.bats
  tests/unit/test_testenv_list_prune.bats
Due: Library Code

P.l.13: CI flake fix — the idempotency test's stat idiom never measured mtime on Linux; assert with a sentinel instead
  docs/specs/stories.md
  tests/unit/test_testenv_name_aware.bats
Due: none

P.n: Rebuild restores state; purge resets it
  docs/specs/stories.md
  lib/commands/env.sh
  lib/envs.sh
  lib/plugins/python/plugin.sh
  tests/unit/test_env_init_force.bats
  tests/unit/test_oo2_init_gate.bats
Due: Library Code

P.o: Batch lifecycle — '--all' fans across every declared env
  docs/specs/stories.md
  lib/commands/env.sh
  lib/init_composer.sh
  lib/plugins/python/plugin.sh
  lib/utils.sh
  tests/unit/test_init_all.bats
  tests/unit/test_init_param_graph.bats
  tests/unit/test_testenv_purge_name.bats
Due: Library Code

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
