Repository pointmatic/pyve: changes, and which Codecov flags are due for each by the changed paths.
All: Library Code, Core Script

v0.8.18: Fix Self-Reinstall When Running Installed Pyve
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

v0.8.19: Improve Direnv Prompt for Micromamba/Venv
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

v0.8.20: Install Prompt Hook Automatically
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

v0.8.21: Respect SDKMAN zshrc Ordering
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

v0.9.0: Support Tensorflow/Keras for Python 3.12+
  docs/specs/archive/versions_spec_2026_01_09.md
  docs/specs/versions_spec.md
  lib/distutils_shim.sh
  pyve.sh
  tests/helpers/test_helper.bash
  tests/unit/test_distutils_shim.bats
Due: Library Code, Core Script

v0.9.1: Prevent unit tests from deleting user micromamba
  docs/specs/versions_spec.md
  pyve.sh
  tests/unit/test_micromamba_core.bats
Due: Core Script

v0.9.1a: Documentation clarifications
  CONTRIBUTING.md
  README.md
  docs/specs/versions_spec.md
  tests/README.md
Due: none

v0.9.1b: CI stability improvements for venv integration tests
  docs/specs/versions_spec.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_cross_platform.py
  tests/integration/test_doctor.py
Due: none

v0.9.1c: Local integration test reliability, pyve run venv behavior
  docs/specs/versions_spec.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_reinit.py
Due: Core Script

v0.9.2: Pyve-managed local dev/test runner environment
  docs/specs/versions_spec.md
  pyve.sh
  tests/integration/test_testenv.py
Due: Core Script

v0.9.3: Gentle test tooling guidance, Pyve philosophy alignment
  CONTRIBUTING.md
  README.md
  docs/specs/versions_spec.md
  pyve.sh
  tests/README.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_testenv.py
Due: Core Script

v0.9.4: pyve doctor reports dev/test runner environment status
  docs/specs/versions_spec.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_doctor.py
Due: Core Script

v0.9.5: CI hotfix for custom venv dirs, doctor config awareness
  docs/specs/versions_spec.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
Due: Core Script

v0.9.6: Config-aware purge/doctor for custom venv directories
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

v0.9.7: Re-init UX reliability, corrupted config hardening
  docs/specs/versions_spec.md
  lib/version.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/conftest.py
Due: Library Code, Core Script

v0.9.7a: Local integration test reliability
  docs/specs/versions_spec.md
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_auto_detection.py
Due: none

Clarify Key Features in README
  README.md
Due: none

v0.9.8: Python 3.14.3 default update and v0.9.8a: Local integration test reliability (no user-facing changes)
  README.md
  docs/specs/versions_spec.md
  pyve.sh
  tests/helpers/pyve_test_helpers.py
Due: Core Script

v0.9.9: Gitignore hygiene on init
  .gitignore
  docs/specs/versions_spec.md
  pyve.sh
Due: Core Script

v1.0.0: Improvements to .gitignore management
  .gitignore
  .pyve/config
  .tool-versions
  README.md
  docs/specs/archive/micromamba_spec_2026-01-06.md
  docs/specs/archive/versions_spec_2025-12-17.md
  docs/specs/archive/versions_spec_2026-01-05.md
  docs/specs/archive/versions_spec_2026_01_09.md
  docs/specs/archive/versions_spec_v0.7.md
  docs/specs/versions_spec.md
  lib/utils.sh
  pyve.sh
Due: Library Code, Core Script

v1.1.0: Testing and spec updates for v1.0.0 .gitignore changes
  .gitignore
  docs/specs/features.md
  docs/specs/versions_spec.md
  lib/utils.sh
  pyve.sh
  tests/integration/test_micromamba_workflow.py
  tests/integration/test_venv_workflow.py
  tests/unit/test_utils.bats
Due: Library Code, Core Script

v1.1.1: License migration from MPL-2.0 to Apache-2.0
  LICENSE
  README.md
  docs/specs/features.md
  docs/specs/versions_spec.md
  lib/backend_detect.sh
  lib/distutils_shim.sh
  lib/env_detect.sh
  lib/micromamba_bootstrap.sh
  lib/micromamba_core.sh
  lib/micromamba_env.sh
  lib/utils.sh
  pyve.sh
Due: Library Code, Core Script

v1.1.2: Fix Linux sed append in insert_pattern_in_gitignore_section
  docs/specs/features.md
  docs/specs/versions_spec.md
  lib/utils.sh
  pyve.sh
Due: Library Code, Core Script

v1.1.3: Replace sed append with portable shell loop in insert_pattern_in_gitignore_section
  docs/specs/features.md
  docs/specs/versions_spec.md
  lib/utils.sh
  pyve.sh
Due: Library Code, Core Script

feature planning and v1.1.4 Fix .gitignore Idempotency on CI
  docs/guide_versions_spec.md
  docs/guides/project_guide.md
  docs/specs/bootstrap_stories.md
  docs/specs/design_decisions.md
  docs/specs/features.md
  docs/specs/stories.md
  docs/specs/tech_spec.md
  docs/specs/versions_spec.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_utils.bats
Due: Library Code, Core Script

v1.2.0 Activate Validate Integration Tests
  docs/specs/stories.md
  lib/version.sh
  pyve.sh
  tests/helpers/pyve_test_helpers.py
  tests/integration/test_validate.py
Due: Library Code, Core Script

v1.2.1 Descriptions, Marketing Page & README Sync
  README.md
  docs/images/pyve_banner_wide.png
  docs/index.html
  docs/specs/descriptions.md
  docs/specs/features.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

v1.2.2 Activate Validate Edge Case & Platform Tests
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_validate.py
Due: Core Script

v1.2.3 Increase Unit Test Coverage for version.sh
  docs/specs/stories.md
  pyve.sh
  tests/unit/test_version.bats
Due: Core Script

v1.2.5 Coverage Target 80%
  README.md
  docs/specs/stories.md
  pyve.sh
  tests/integration/test_doctor.py
  tests/integration/test_run_command.py
  tests/unit/test_distutils_shim.bats
  tests/unit/test_utils.bats
  tests/unit/test_version.bats
Due: Core Script

README header, bash code coverage plan
  README.md
  docs/images/pyve_header_readme.png
  docs/specs/stories.md
Due: none

v1.3.0 Integrate Bash Coverage via kcov
  .github/workflows/test.yml
  .gitignore
  .vscode/settings.json
  Makefile
  codecov.yml
  docs/specs/stories.md
  docs/specs/testing_spec.md
  pytest.ini
  pyve.sh
  tests/helpers/kcov-wrapper.sh
  tests/helpers/pyve_test_helpers.py
Due: Core Script

v1.3.1 Update testing_spec.md, site structure, and other docs
  docs/guides/codecov-setup-guide.md
  docs/site/ci-cd.md
  docs/site/images/pyve_banner_wide.png
  docs/site/images/pyve_header_readme.png
  docs/site/index.html
  docs/specs/stories.md
  docs/specs/testing_spec.md
  pyve.sh
Due: Core Script

v1.4.0 Homebrew guards for --install / --uninstall
  docs/specs/stories.md
  pyve.sh
Due: Core Script

v1.4.1 Homebrew Guard Fix & README Update
  README.md
  docs/specs/stories.md
  pyve.sh
Due: Core Script

Story C.d: Automate Homebrew Formula Updates on Tag Push
  .github/workflows/update-homebrew.yml
  docs/specs/stories.md
Due: none

Fix CI: build kcov from source (not in Ubuntu Noble repos)
  .github/workflows/test.yml
Due: none

v1.5.0 Show Install Source in pyve doctor
  docs/specs/stories.md
  lib/utils.sh
  pyve.sh
  tests/unit/test_doctor.bats
Due: Library Code, Core Script

Fix kcov build: add safe.directory config and explicit checkout
  .github/workflows/test.yml
  docs/specs/stories.md
Due: none

another kcov fix attempt, no git credential prompts
  .github/workflows/test.yml
Due: none

Path conditions:
  Library Code: any of: lib/**/*.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
  Core Script: any of: pyve.sh, but not: tests/**/*, docs/**/*, *.md, .github/**/*
